<div>
    <%= radio_button "incoming_message", "described_state", "transferred", :id => 'transferred' + id_suffix %>
    <label for="transferred<%=id_suffix%>"><%= _('Authority has <strong>transferred your request</strong> to another public body.') %></label>
</div>
