<div id="footer">
    <div id="footer-inner">
        <a id="access-info-logo" href="http://www.access-info.org/"><img src="/asktheeu-theme/images/access_info_logo.gif" alt="Access Info icon"></a>
        <div id="footer-links">
            <ul>
                <li><a href="http://www.access-info.org/en/help-desk"><%= _("Help Desk") %></a></li>
                <li><%= link_to _("Contact {{site_name}}", :site_name => site_name), help_contact_url %></li>
            </ul>
        </div>

        <div id="credits">
            <p><%= _("This website is powered by <a href='http://www.alaveteli.org/'>Alaveteli</a>. Other original content was developed by Access Info Europe and is made public under a <a  href='http://creativecommons.org/licenses/by-sa/3.0/'>Creative Commons Attribution, Share Alike licence</a>.") %></p>
            <a id="creative-commons-logo" href="http://creativecommons.org/licenses/by-sa/3.0/"><img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" alt="Creative Commons icon"></a>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
