<h3>Use your Right to Know</h3>

As a european citizen you can ask for information.  <strong>By law, they have to respond</strong>.  <a href="<%= help_about_url %>">Find out more about freedom of information.</a>
