<div id="topnav">
    <ul id="navigation">
        <li class="selected"><%= link_to _("About"), help_about_ate_path %></li>
        <li class="selected"><%= link_to _("Request Guide"), help_guide_path %></li>
        <li class="selected"><%= link_to _("Make a Request"), select_authority_url, :id => 'make-request-link' %></li>
        <li class="selected"><%= link_to _("Search Requests"), request_list_successful_url %></li>
        <li class="selected"><%= link_to _("News & Stats"), blog_url %></li>
        <li class="selected"><%= link_to _("Your Right To Know"), help_about_url %></li>
    </ul>
</div>