<h2>Welcome to Ask the EU</h2>
<p>AsktheEU.org is a single portal for filing requests with European Union public bodies. The goal is to make it easier for members of the public to ask for information. The website should also save EU bodies the work of answering the same requests more than once.</p>
<p>AsktheEU.org will contribute to making the EU more transparent, accountable, and promoting public participation in decision making.</p>
<p>If you want to get involved in the AsktheEU.org project, for example as a volunteer or supporter, <%= link_to "write to us here", help_contact_url %>.</p>
