<h2>Herzlich Willkommen bei Ask the EU</h2>
<p>AsktheEU.org ist eine Plattform, über die Sie Anfragen an die Behörden der Europäischen Union stellen können. Ziel ist es, der Öffentlichkeit zu helfen Informationen von der Europäischen Union zu beziehen – indem Sie einfach danach fragen. Auch EU Beamten wird das Leben durch diese Seite erleichtert, da es unwahrscheinlicher wird, dass diese wiederholt dieselben Fragen beantworten müssen.</p>
<p>AsktheEU.org wird somit zu einer transparenteren und verantwortlicheren EU beitragen, sowie wachsende Bürgerbeteiligung in Entscheidungsprozessen fördern.</p>
<p>Falls Sie AsktheEU.org unterstützen möchten, z.B. als Freiwilliger oder Befürworter, schreiben Sie uns <%= link_to "hier", help_contact_url %>.</p>
