<h2>Bienvenid@ a AsktheEU.org</h2>

<p>AsktheEU.org es un portal especialmente diseñado para realizar solicitudes destinadas a los organismos e instituciones de la Unión Europea. Su objetivo es ayudar a todos los ciudadanos a solicitar información de una forma fácil. A su vez, permitirá evitar que las instituciones de la UE tengan que responder las mismas preguntas más de una vez.</p>

<p>AsktheEU.org quiere contribuir a hacer de la UE una institución más transparente y a promover la participación ciudadana, también en la toma de decisiones.</p>

<p>Si quieres participar en el proyecto de AsktheEU.org, mostrando tu apoyo o como voluntario, <%= link_to "escríbe aquí", help_contact_url %>.</p>