#banner {
  background: url(/asktheeu-theme/images/stripes.png);
  border: none;
  height:160px;
}

div.frontpage-box,
#stepwise_make_request {
    background: url(/asktheeu-theme/images/stripes.png);
}

body {
    font-family: Helvetica, Arial;
    font-size: 13px;
}

