@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,700);


/** LAYOUT **/
body {
    font-family: Verdana, Helvetica, Arial;
    font-size: 12px;
    line-height: 1.5;
}
    body.front {
        background: none;
    }

#content {
    width: 840px;
    padding: 0px 60px;
    margin: auto;
}

#wrapper {
    padding-top: 10px;
    margin-bottom: 50px;
    width: 960px;
}

#wrapper_modal {
    text-align: left;
}

#header_right {
    width: 180px;
    float: left;
    margin-top: 30px;
}
    .feed_link a, 
    .act_link a, 
    #header_right > a {
        color: #009a9d;
        font-size: 12px;
        text-decoration: none;
    }
    #header_right a:hover {
        text-decoration: underline; 
    }

#header_left,
.header_left {
    width: 600px;
    float: right;
    padding: 20px 30px;
}

#everypage {
    background-color: #666;
    opacity: 0.95;
    border-color: #FFF;
    border-radius: 0;
    border-left: none;
    border-rigth: none;
    left: 0;
    width: 99%;
    padding-right: 1%;
    color: #EEE;
    font-weight: bold;
}


/** HEADER **/ 
#banner {
    background: #EAF5F6;
    border: none;
    height: 150px;
    position: relative;
}

#banner_inner {
    width: 960px;
    height: 150px;
}
    #banner_inner a:hover {
        text-decoration: underline; 
    }

#logo {
    position: absolute;
    top: 20px;
}

#navigation_search {
    top: 50px;
    visibility: hidden;
}

div.lang {
    top: 23px;
    color: #00aaa6;
    font-size: 12px;
    text-transform: capitalize;
}
    div.lang a {
        color: #00aaa6;
        text-decoration: none;
    }

#logged_in_bar {
    top: 25px;
    right: 220px;
    font-weight: bold;
    font-size: 12px;
    padding: 3px 8px 1px 8px;
    height: 19px;
    background: #009a9d;
    border-radius: 5px;
}
    #logged_in_bar, #logged_in_bar a, #logged_in_bar a:visited {
        color: #FFF;
        text-decoration: none;
    }
    #logged_in_bar a {
        margin-left: 5px;
        margin-right: 4px;
    }


/** NAVIGATION BAR **/ 
#topnav {
    font-family: Helvetica, Arial;
    font-size: 14px;
    font-weight: bold;
    float: right;
    margin-left: 0px;
}
    #topnav ul li {
        padding-left: 8px;
        padding-right: 8px;
        margin-right: 8px;

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    #topnav ul li a {
        color: #00aaa6 !important;
    }


/** MAIN SITE **/
h1, h1 a {
    font-family: 'Open Sans', Helvetica, Arial;
    color: #009a9d;
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
    text-decoration: none;
}

h2, h2 a {
    font-family: 'Open Sans', Helvetica, Arial;
    color: #7bbb58;
    font-size: 18px;
    font-weight: 700;
}

h3, h3 a {
    font-family: Helvetica, Arial;
    color: #00aaa6;   
    font-size: 14px;
    font-weight: bold;
}


/** HELP **/
#left_column_flip {
    margin-top: 10px;
    padding-left: 30px;
    margin-right: 30px;
    width: 600px;
}
    #left_column_flip li {
        padding-bottom: 8px;
    }

#right_column_flip {
    text-align: left;
    width: 180px;
    margin-top: 32px;
}
    #right_column_flip h3 {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    #right_column_flip ul {
        margin-top: 0px;
        margin-bottom: 5px;
        padding-left: 0px;
        list-style: none outside none;
    }

.controller_help {
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}
    .controller_help a {
        color: #009a9d;
        text-decoration: none;
    }
    .controller_help a:hover {
        text-decoration: underline;
    }

.XXX {  /* TODO stuff */
    color: red;
    font-weight: bold;
    background-color: yellow;
}

/** FRONTPAGE **/
.front #wrapper, .front #content {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#frontpage-intro {
    width: 960px;
    margin: auto;
    position: relative;
}

#frontpage-lead {
    font-family: 'Open Sans', Helvetica, Arial;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #73c167;
}

#frontpage-left-balloon {
    float: left;
    width: 196px;
    height: 184px;
    background: url(/asktheeu-theme/images/yellow_balloon.gif);
    padding: 10px 30px 20px 50px;
    margin: 37px 8px 60px 0px;
    text-align: center;
}
    #frontpage-left-balloon h2 {
        font-family: 'Open Sans', Helvetica, Arial;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        padding-right: 20px;
        margin-bottom: 5px;
    }
    #frontpage-left-balloon p {
        padding-right: 20px;
    }
    #frontpage-left-balloon .frontpage-button-link {
        margin-left: 38px;
    }

#frontpage-middle-balloon {
    float: left;
    width: 314px;
    height: 283px;
    background: url(/asktheeu-theme/images/blue_balloon.gif);
    padding: 0px 30px 0px 30px;
    text-align: center;
}
    #frontpage-middle-balloon h1 {
        font-family: 'Open Sans', Helvetica, Arial;
        font-size: 42px;
        font-weight: 700;
        color: #fff;
        padding-right: 10px;
        margin-bottom: 5px;
    }
    #frontpage-middle-balloon p {
        margin-left: 15px;
        padding-right: 20px;
    }
    #frontpage-middle-balloon .frontpage-button-link {
        margin-left: 102px;
    }

#frontpage-right-balloon {
    float: left;
    width: 218px;
    height: 174px;
    background: url(/asktheeu-theme/images/green_balloon.gif);
    padding: 5px 20px 20px 50px;
    margin: 42px 0px 60px 4px;
    text-align: center;
}
    #frontpage-right-balloon h2 {
        font-family: 'Open Sans', Helvetica, Arial;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        padding-right: 30px;
        margin-bottom: 5px;
    }
    #frontpage-right-balloon p {
        padding-right: 30px;
    }
    #frontpage-right-balloon .frontpage-button-link {
        margin-left: 43px;
    }
        
#frontpage-left-balloon p,
#frontpage-right-balloon p,
#frontpage-middle-balloon p {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-top: 0px;
}

#frontpage-intro a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}      
    #frontpage-intro a:hover {
        text-decoration: underline;
    }

.frontpage-button-link {
    height: 24px;
    width: 100px;
    background: url(/asktheeu-theme/images/button_gradient.gif);
    border-radius: 5px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
    
#frontpage-content {
    background: #EAF5F6;
    border-top: 1px solid #b2dcde;
}

#frontpage-inner-content {
    width: 960px;
    margin: auto;
    position: relative;
    padding-bottom: 20px;
}

#left-column {
    float: left;
    background: #EAF5F6;
    width: 450px;
}

#right-column {
    float: right;
    width: 450px;
}

#frontpage-content p {
    color: #6f6f6e;
    font-size: 12px;
    line-height: 1.5;
}

#frontpage-content p a {
    color: #009a9d;
    font-size: 12px;
    text-decoration: none;
}
    #frontpage-content a:hover {
        text-decoration: underline; 
    }

.picture-frame {
    width: 450px;
    height: 270px;
    background: #FFF;
    border-radius: 15px;
    margin-bottom: 30px;
}
    .picture-frame img,
    .picture-frame iframe {
        width: 420px;
        height: 240px;
        margin: 15px;
    }

#follow-us-frame {
    width: 390px;
    height: 60px;
    background: #FFF;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 50px;
    padding: 20px 30px 20px 30px;
}
    #follow-us-frame p {
        float: left;
        font-family: 'Open Sans', Helvetica, Arial;
        font-size: 18px;
        color: #009a9d;
    }
    #follow-us-frame span {
        float: left;
        margin-top: 12px;
        margin-left: 20px;
    }

.link-arrow {
    background: no-repeat url(/asktheeu-theme/images/arrow_icon.gif) ;
    padding-top: 6px;
    padding-left: 35px;
    height: 30px;
}
    .link-arrow a {
        font-family: Helvetica, Arial;
        color: #00aaa6;   
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }


/** GENERAL **/
.request_listing span.head a, 
.user_listing span.head a, 
.body_listing span.head a {
    font-family: 'Open Sans', Helvetica, Arial;
    font-size: 16px;
    color: #009A9D;
}

a,
.request_listing a, 
.body_listing a, 
.user_listing a {
    color: #009A9D;
    text-decoration: none !important;
}
    a:hover,
    .request_listing a:hover, 
    .body_listing a:hover, 
    .user_listing a:hover {
        text-decoration: underline !important;
    }

#header_left p,
#header_left ul,
#header_left ol {
    padding-right: 120px;
}

.request_left {
    width: 600px;
    padding-right: 0px;
}

.request_right {
    width: 240px;
}

form input[type="submit"], a.link_button_green, a.link_button_green_large {
    font-family: 'Open Sans', Helvetica, Arial;
    font-weight: 600;
}

form input[type="submit"] {
    padding: 0 11px;
}


/** SIGNUP **/
#sign_together .form_button {
    margin-left: 110px;
}

#signup .form_item_note, 
#signin .form_note,
#signin .form_checkbox {
    font-size: 0.9em;
    margin-left: 110px;
    width: 240px;
}

#sign_together input[type="text"],
#sign_together input[type="password"] {
    width: 220px;
}

#middle_strip {
    display: none;
}

#signin-successful {
    text-align: center;
}


/** PUBLIC BODIES LISTING **/
#public_body_index #left_column_flip h2,
#public_body_index #left_column_flip p {
    display: none;
}

#public_body_query {
    width: 360px;
}

/** REQUEST **/
p.subtitle {
    font-family: Verdana, Helvetica, Arial;
    font-size: 15px;
    color: #444444; /* XXX */
}

p.public-body-name-prefix {
    font-family: Verdana, Helvetica, Arial;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: -20px;
    color: #444444; /* XXX */
}

#stepwise_make_request {
    background: none;
    width: 480px;
    margin-bottom: 10px;

    font-family: Verdana, Helvetica, Arial;
    font-size: 16px;
    color: #444444; /* XXX */
}
    #stepwise_make_request strong {
        color: #009A9D;
    }

h2.foi_results {
    width: 480px;
    padding-bottom: 0px;
}

#foi_results_section,
.results_section {
    float: right;
    padding-left: 0px;
    padding-right: 150px;
    width: 480px;
}

.request_listing {
    margin-right: -210px;
}
    .request_left {
        width: 480px;
    }
    .request_right {
        width: 210px;
    }
    .request_listing span.desc {
        background: none;
    }

span.desc {
    float: left;
}

.date_added {
    display: none;
}

#request_header {
    background: none;
    width: 630px;
}
    #request_header_body h3,
    #request_header_body .form_item_note {
        display: none;
    }
    #request_header_body #request_header_text {
        font-size: 1em;
    }

.form_item_note {
    width: 510px;
}

#request_search_ahead_results {
    font-size: 1em;
    margin-left: 110px;
    margin-top: 10px;
}

#request_header input,
#request_form textarea {
    width: 500px;
}

#request_advice {
    margin-right: -30px;
}

#public_body_actions {
    display: none;
}

div.correspondence {
    width: 540px;
    background: none repeat scroll 0 0 #EAF5F6;
    font-family: Verdana, Helvetica, Arial;
    font-size: 12px !important;
}

div.comment_in_request {
    width: 490px;
    font-size: 12px !important;
    background: #FBFBFB;
}

div.outgoing.correspondence {
    background: none repeat scroll 0 0 #F4F5F6;
    font-size: 12px !important;
}

div[id|="outgoing"] p,
div[id|="incoming"] p {
    font-size: 1em;
}

#link_box {
    border: 1px solid #777;
    opacity: 1;
}

#link_box .close-button {
    background-color: #777;
}

#follow_count {
    color: #7BBB58;
}


/** REQUEST FILTER **/
#filter_requests_form {
    width: 660px;       /* Need some extra space for types of requests */
    margin-top: 15px;
}

#request_form label, 
label.form_label {
    color: #00AAA6;
    font-family: Helvetica,Arial;
    font-size: 14px;
    font-weight: bold;
}


/** REQUEST STATES 
TODO: Need to add states for
 - icon_info_not_held_and_referred
 - icon_partial_access
 - icon_referred
 - icon_request_acknowledged
 - icon_transferred
 - icon_unsatisfactory_response
**/
.icon_waiting_response {
    background-image: url("/asktheeu-theme/images/states/icon_waiting_response.gif");
    color: #009A9D;
}
.icon_waiting_clarification {
    background-image: url("/asktheeu-theme/images/states/icon_waiting_clarification.gif");
    color: #79BB59;
}
.icon_gone_postal {
    background-image: url("/asktheeu-theme/images/states/icon_gone_postal.gif");
    color: #009A9D;
}
.icon_not_held {
    background-image: url("/asktheeu-theme/images/states/icon_info_not_held.gif");
    color: #F19100;
}
.icon_rejected {
    background-image: url("/asktheeu-theme/images/states/icon_info_refused.gif");
    color: #E10613;
}
.icon_successful {
    background-image: url("/asktheeu-theme/images/states/icon_successful.gif");
    color: #79BB59;
}
.icon_partially_successful {
    background-image: url("/asktheeu-theme/images/states/icon_partially_successful.gif");
    color: #F19100;
}
.icon_incomplete {
    background-image: url("/asktheeu-theme/images/states/icon_partially_successful.gif");
    color: #F19100;
}
.icon_internal_review {
    background-image: url("/asktheeu-theme/images/states/icon_review_requested.gif");
    color: #009A9D;
}
.icon_error_message {
    background-image: url("/asktheeu-theme/images/states/icon_error_message.gif");
    color: #858585;
}
.icon_requires_admin {
    background-image: url("/asktheeu-theme/images/states/icon_requires_admin.gif");
    color: #858585;
}
.icon_user_withdrawn {
    background-image: url("/asktheeu-theme/images/states/icon_user_withdrawn.gif");
    color: #E10613;
}
/* TODO: Missing from designer
.icon_waiting_classification {
.icon_waiting_response_overdue {
.icon_waiting_response_very_overdue {
*/


/** MODAL SIGN-IN **/
#signin-successful,
#signin-successful a {
    font-family: Helvetica, Arial;
    color: #00aaa6;   
    font-size: 14px;
    font-weight: bold;
    padding-top: 50px;
} 

#sign_together h1 {
    margin-top: 10px;
}

#sign_together .errorExplanation {
    width: 360px;
    text-align: left;
}


/** USER PROFILE **/
#user_photo_on_profile {
    float: right;
    margin-top: 30px;
}

.undescribed_requests {
    padding: 19px 29px;
    width: 780px;
}

#user_profile_search {
    float: right;
    padding-left: 0px;
    padding-right: 150px;
    width: 480px;
}


/** FOOTER **/
#footer {
    height: 90px;
    margin: 0px;
    border-top-width: 1px;
}

#footer-inner {
    width: 960px;
    margin: auto;
    position: relative;
}

#access-info-logo {
    position: absolute;
    left: 0px;
    top: 10px;
}

#footer-links {
    margin-left: 80px;
    margin-top: 10px;
    float: left;

    font-family: 'Open Sans', Helvetica, Arial;
    font-size: 18px;
}
    #footer-links ul {
        list-style: none outside none;
    }
    #footer-links ul li {
        float: left;
        margin-right: 25px;
    }
    #footer-links ul a {
        text-decoration: none;
        color: #009a9d;
    }
    #footer-links ul a:hover {
        text-decoration: underline;
    }
    
#credits {
    float: right;
    margin-top: 13px;
    margin-right: 95px;
    width: 340px;

    font-family: Verdana, Helvetica, Arial;
    font-size: 11px;
    text-align: right;
}
    #credits a {
        text-decoration: none;
        color: #00aaa6;
    }

#creative-commons-logo {
    position: absolute;
    right: 0px;
    top: 30px;
}