<% @title = "Über Uns" %>
<div id="titleAbout">ÜBER UNS</div>
<div id="subtitleAbout">WILLKOMMEN BEI ASKTHEEU.ORG!</div>
<div id="contentAbout">
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <!--<h1>Über Uns</h1>
    <h3><a href="#welcome">Willkommen bei AskTheEU.org!</a></h3>
    <h3><a href="#how">Und wie funktioniert's?</a></h3>
    <h3><a href="#users">Für wen ist AsktheEU.org?</a></h3>
    <h3><a href="#who">Von wem kommt AsktheEU.org?</a></h3>
    <h3><a href="#funders">Wer unterstützt Ask the EU?</a></h3>
    <h3><a href="#supporters">AsktheEU.org Supporters</a></h3>
    <h3><a href="#ip">Intellectual Property</a></h3>-->

    <h2 id="welcome">Willkommen bei AskTheEU.org!</h2>
    <p>Diese Internetseite wurde von einer Zivilrechtsorganisation erstellt, um Menschen wie Ihnen zu helfen Informationen von der Europäischen Union zu beziehen – indem Sie einfach danach fragen.</p>
    <p>Auch EU Beamte wird das Leben durch diese Seite erleichtert, da es unwahrscheinlicher wird, dass diese wiederholt dieselben Fragen beantworten müssen. Wenn eine Frage einmal beantwortet wurde, wird diese auf der Seite gespeichert und ist somit für jedermann zugänglich.</p>
    
    <h2 id="how">Und wie funktioniert's?</h2>
    <p>Ganz einfach: Sie stellen über diese Seite eine Anfrage an die EU und wir senden eine Email an die richtige EU-Behörde. Diese sind dann verpflichtet innerhalb von 15 Werktagen (ca. drei Wochen) zu antworten.</p>
    <p>Sobald wir eine Antwort erhalten, senden wir Ihnen diese zu und veröffentlichen sie auf dieser Internetseite. Sie werden dann gebeten uns kurz mitzuteilen, ob Sie mit der erhaltenen Antwort zufrieden waren. Ist das nicht der Fall, können Sie auf gleichem Wege weitere Informationen anfragen oder Berufung einzulegen.</p>
    <p>Jedermann kann Ihre Anfrage sehen und somit muss niemand dieselbe Frage nochmals stellen.</p>
    
    <h2 id="users">Für wen ist AsktheEU.org? </h2>
    <p>Jeder der 500 Millionen Menschen in der Europäischen Union (Staatsbürger und Ansässige) hat das Recht Informationen von EU Behörden anzufragen.</p>
    <p>Menschen außerhalb der EU können ebenso Informationen anfragen (Sie haben lediglich nicht die gleichen Berufungsrechte vor dem Europäischen Gerichtshof, falls die Behörden die Beantwortung ablehnen.</p>
    <p>NROs und Firmen (sogenannte juristische Personen), die in einem EU-Land registriert sind, können ebenfalls Dokumentenanfragen stellen.</p>
    <p>Diese Seite ist vielleicht gerade interessant für Sie, wenn Sie für eine NRO arbeiten, ein Journalist sind, sich in einer lokalen Bürgerbewegung engagieren, Sie studieren oder Akademiker/in sind, ein Anwalt oder eine Geschäftsperson... oder wenn Sie einfach neugierig sind und mehr über die EU und Ihre Funktionsweise wissen möchten. <strong>Warten Sie nicht: Fragen Sie heute!</strong></p>
    
    <h2 id="who">Von wem kommt AsktheEU.org? </h2>
    <p>AsktheEU.org ist ein Projekt der in Madrid ansässigen internationalen Menschenrechtsorganisation href="http://www.access-info.org/">Access Info Europe</a>, und wurde mithilfe einer Software der in London ansässigen Organisation <a href="http://www.mysociety.com/">mySociety</a> entwickelt.</p>
    <p>Access Info Europe ist eine Nichtregierungsorganisation. Access Info ist mit dem spanischen Innenministerium (Referenz 587828) und mit dem <a href="http://europa.eu/transparency-register/index_en.htm">EU 'Transparency Register'</a> (Referenz 49931835063-67) registriert.</p>
    <p>AsktheEU.org wird von einer <%= link_to 'Koalition europäischer und internationaler Organisationen', help_credits_path %> unterstützt.</p>
    <p>AsktheEU.org basiert auf mySociety’s erfolgreicher britischer Internetseite <a href="http://WhatDoTheyKnow.com">WhatDoTheyKnow.com</a>. Eine weitere ähnliche Internetseite ist <a href="http://FragdenStaat.de">FragdenStaat.de</a> in Deutschland.</p>
    <p>Access Info Europe plant zusammen mit einigen anderen Zivilrechtsorganisationen und Technologie für Transparenz Gruppen in Spanien die Seite TuDerechoaSaber.es zu launchen.</p>
    
    <h2 id="funders">Wer unterstützt Ask the EU?</h2>
    <p>Die erste Entwicklungsphase von AsktheEU.org wurde von Open Society Foundation finanziert. Wir benötigen noch weitere Finanzierungsmittel und freiwillige Helfer, um die Seite aufrechtzuerhalten. <a href="http://www.access-info.org/en/support-us">Support Access Info Europe</a>.</p>

    <h2 id="supporters">AsktheEU.org Supporters</h2>
    <p>Folgende Organisationen bilden eine Teil der AsktheEU Beratergruppe:
        <%= render :partial => 'help/supporters' %>
    </p>

    <h2 id="ip">Geistiges Eigentum</h2>
    <p>Diese Internetseite ist Teil des <a href="http://www.alaveteli.org/">Alaveteli</a> Projekts, eine Open-source Software Entwicklung von <a href="http://www.mysociety.org/">mySociety</a> in Zusammenarbeit mit <a href="http://www.access-info.org">Access Info Europe</a> und anderen zivilrechtlichen Organisationen.  Weitere Inhalte wurden von Access Info Europe entwickelt und unter der <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution, Share Alike lizenziert</a>.</p>
</div>
</div>
