<% @title = "About the Software" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1>Powered by Alaveteli</h1>
    <p>This website is powered by Alaveteli. Alaveteli is free software for making Freedom of Information (FOI) or access to information (ATI) requests. It can easily be translated into any language, and customised for variations of FOI or ATI law.</p>
    <p>Alaveteli was developed initially by <a href="http://www.mysociety.org">mySociety</a> and is being improved for international use by a number of organisations including Access Info Europe, FLOSS Kosova, and Zasto Ne in Bosnia.</p>
    <p>The development of Alaveteli was supported by a number of foundations and charities who are interested in transparency across the world. The AsktheEU.org version was supported by the Open Society Foundation.</p>

    <h2>Would you like an Alaveteli portal in your country?</h2>
    <p>If you would like to set up an Alaveteli website in your own country, we can help. You will need a few days to get the site configured and ready to use, and will then have to spend at least an hour a week moderating and managing the site (more for busy websites).</p>
    <p>Read more on the <a href="http://alaveteli.org">Alaveteli website</a>, or <a href="mailto:hello@alaveteli.org">write to the Alaveteli team by email</a>.</p>
</div>
