<% @title = "Credits" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1>Credits</h1>
    <p>Special thanks for those who contributed to the AsktheEU.org website, including:
        <ul>
            <li>The dedicated Access Info Europe team of Helen Darbishire, Pam Bartlett, Kersti Wissenbach, Lydia Medland, Victoria Anderica, Alvaro Rodriguez, Andreas Pavlou, and Alicia Costas for the long hours fuelled only by dark chocolate and cheesy waffles. </li>
            <li>All our volunteer translators for making it multilingual: Europe is a smaller and better place when we can all communicate! </li>
            <li>David Cabo for being at the heart of putting AsktheEU.org together and for keeping a cool head throughout (thanks also for the four bags of coffee!)</li>
            <li>Diego Berjon for great designs and super fast turn-around the many times we decided to change something; </li>
            <li>Tom Steinberg, Seb Bacon and Francis Irving, and all at mySociety – an organisation full of innovative ideas for making governments more accountable and the community spirit to share them worldwide.</li>
            <li>Daniel Dietrich of the Open Knowledge Foundation Germany for the foresight to reserve the domain name a long time ago, and then for sharing it with us, along with his moral and practical support; </li>
            <li>Jack Thurston of EUTransparency.org, FarmSubsidy.org and FishSubsidy.org for the other domain name (yes, we want it!) and for the inspiration of all you have done to make the EU more transparent. </li>
            <li>Felipe Heusser and the team at Ciudadano Inteligente and the Acceso Inteligente project in Chile for sharing experience and style; </li>
            <li>Boris Vergara Godoy of www.parabolaconstante.com for so effectively turning a Chilean video into a European one, including with a jazzy Ode to Joy; </li>
            <li>Darius Cuplinkas, Janet Haven, and Jerzy Celichowski at the Open Society Information Program for supporting the internationalisation of the Alaveteli software that underpins this website. </li>
            <li>Valon Brestovci and the team at FLOSS Kosova for sharing their learning curve with us. </li>
            <li>Front page picture of EU flag by <a href="http://www.flickr.com/photos/robdeman/">Rock Cohen</a> (licensed CC-BY-SA).</li>
        </ul>
    </p>
</div>