<% @title = "¿Puedo ayudar?" %>
<div id="titleHow">¿PUEDO AYUDAR?</div>
<div id="subtitleAbout">¡BIENVENIDO ASKTHEEU.ORG!</div>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    
    <p>¡Sí, por favor!</p>
    <p>Puedes ayudar de cuatro maneras:</p>
    <ul>
        <li>Puedes convertirte en voluntario online de AsktheEU.org y ayudar a mantener la página. Escríbenos a <a href="mailto:team@asktheeu.org">team@asktheeu.org</a>. Necesitamos moderadores/webmasters, traductores y programadores.</li>
        <li><a href="http://www.access-info.org/en/support-us">Haciendo una donación</a>: somos una asociación registrada que se financia a través de subvenciones y donaciones.</li>
        <li>
            Habla a tus amigos sobre el proyecto, escribe sobre él, compártelo.<br/>
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.asktheeu.org&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
        </li>
        <li>
            ¡Publica tweets sobre nosotros!<br/>
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="AsktheEU" data-related="Access_Info">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
        </li>
    </ul>
</div>
