<% @title = "Can I help out?" %>
<div id="titleHow">Can I help out ?</div>
<div id="subtitleAbout">WELCOME TO ASKTHEEU.ORG!</div>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    
    <p>Yes please!</p>
    <p>There are four ways you can help:</p>
    <ul>
        <li>Become an AsktheEU.org volunteer and help maintain the site from our office in Madrid. Write to us at <a href="mailto:team@asktheeu.org">team@asktheeu.org</a>. We need moderators/webmasters, translators and programmers.</li>
        <li><a href="http://www.access-info.org/en/support-us">Make a donation</a>: we are a registered association and run on grants and donations.</li>
        <li>
            Tell your friends about it, write about it, share it.<br/>
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.asktheeu.org&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
        </li>
        <li>
            Tweet about us!<br/>
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="AsktheEU" data-related="Access_Info">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
        </li>
    </ul>
</div>
