<% @title = "Kann ich mithelfen?" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1>Kann ich mithelfen?</h1>
    <p>Sehr gerne!</p>
    <p>Es gibt vier Möglichkeiten uns zu helfen:</p>
    <ul>
        <li>Werden Sie AsktheEU.org Internet-Volontär/in und helf uns die Seite zu pflegen. 
        Klicken Sie <a href="mailto:team@asktheeu.org">hier</a>, um uns zu schreiben.</li>
        <li><a href="http://www.access-info.org/en/support-us">Spenden Sie</a>: wir sind ein eingeschriebener Verein und leben von Spenden und Fördergeldern.   </li>
        <li>
            Erzählen Sie Ihren Freunden von uns.<br/>
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.asktheeu.org&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
        </li>
        <li>
            Tweet über us!<br/>
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="AsktheEU" data-related="Access_Info">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
        </li>
    </ul>
</div>