<% @title = "Tu confidencialidad" %>
<div id="titleHow">TU CONFIDENCIALIDAD</div>
<div id="subtitleAbout">¡BIENVENIDO A ASKTHEEU.ORG!</div>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    
    
    <p>En AsktheEU.org, solamente resulta visible tu nombre para el público general, a no ser que proporcione otra información de carácter confidencial al organismo al que realiza la solicitud.</p>
    <p>Te recomendamos encarecidamente que no proporciones al organismo al que solicitas información ningún dato de tipo privado, lo cual comprende tu número de teléfono, domicilio, dirección de correo electrónico u otra información de carácter personal, familiar o laboral. No necesitas revelar estos datos para ejercer tu derecho a la información.</p>
    <p>En el caso de que un funcionario público de la UE necesite hablar contigo por teléfono para aclarar la solicitud, te recomendamos que te mandes tu número directamente y no a través de esta página web.</p>

    <h2 id="email_address">¿Quién puede ver mi dirección de correo electrónico?</h2>
    <p>Su dirección de correo electrónico no se mostrará en el sitio web salvo que la incluya en el mensaje o pie de página en su correo.</p> 
    <p>No revelaremos tu dirección de correo electrónico a terceros, a no ser que estemos obligados por ley o que tú así nos lo pida. Los servidores de AsktheEU.org se localizan en Holanda, donde se aplica la legislación de la UE relativa a la privacidad y a la protección de datos.</p> 
    <p>No proporcionaremos tu dirección de correo electrónico al organismo de la UE al que realiza la solicitud. Ellos solamente verán una dirección de email @asktheeu.org, la cual es específica para esa solicitud.</p> 
    <p>Si envías un mensaje a otro usuario del sitio, tu dirección de correo electrónico le será revelada. Se te avisará de que esto va a ocurrir.</p>
    
    <h2>¿Usarán mi dirección de email en boletines o la venderán a terceros?</h2>
    <p>¡No! Nunca proporcionaremos o venderemos tu dirección de correo electrónico a nadie, salvo que estemos obligados por ley o que tú así nos lo pidas.</p>
    <p>Si te inscribes en AsktheEU.org, te mandaremos exclusivamente emails relacionados con tu solicitud y con otros asuntos a los que tú nos hayas autorizado específicamente, tales como enviarte alertas sobre otras consultas. </p>
    
    <h2 id="public_request">¿Por qué aparecen mi nombre y mi solicitud publicados en esta página web?</h2>
    <p>Publicamos tu solicitud en internet para que todo el mundo pueda consultar y utilizar la información que has obtenido. No solemos eliminar las solicitudes (<a href="#delete">más detalles</a>).</p>
    <p>Tu nombre se publica porque forma parte de la solicitud. Es normal que esto sea así, ya que también va a hacerse público el nombre del funcionario que responde a tu solicitud.</p>
    <p>Al usar su verdadero nombre, estás contribuyendo a que la gente te contacte para apoyarte en tu investigación o hacer campaña contigo.</p>
    
    <h2 id="real_name">¿Puedo solicitar información usando un seudónimo?</h2>
    <p>Se te aconseja que utilices tu verdadero nombre cuando solicites el acceso a documentos públicos. Estás ejerciendo un derecho que constituye la base de una sociedad abierta y democrática, por lo cual debes utilizar tu verdadero nombre.</p> 
    <p>Si consideras que su nombre es muy conocido, por ejemplo si eres famoso o un reconocido periodista que pueda ser identificado por un organismo de la UE, puede pedirle a un amigo o compañero que realice la solicitud por ti. Si no sabes cómo proceder, contacta con nosotros e intentaremos ayudarte a realizar la solicitud; sin embargo, tienes que entender que no disponemos de los recursos suficientes para hacer esto con todo el mundo.</p>
    <p>Por favor, ten en cuenta que si usas un seudónimo, no podrás ejercer tu derecho a  apelar al Defensor del Pueblo Europeo o al Tribunal de Justicia. </p> 
    <p>Te pediremos un nombre y un apellido. Si tienes más de un nombre o apellido puedes utilizarlos también pero como mínimo debes darnos un nombre y un apellido.</p> 
    <p>Si detectamos nombres ridículos o seudónimos demasiado obvios, eliminaremos la solicitud y nos pondremos en contacto con el solicitante.</p> 
    <p>Te pedimos por favor que no te hagas pasar por otra persona.</p> 
    
    <h2 id="delete">¿Pueden eliminar mi solicitud o modificar mi nombre?</h2>
    <p>AsktheEU.org es un archivo público permanente de acceso a solicitudes de información realizadas a la UE y respondidas por esta entidad. Aunque la respuesta a tu consulta ya no te parezca de utilidad, puede resultar de interés a otras personas. Por este motivo, no eliminamos las solicitudes.</p> 
    <p>En circunstancias excepcionales, podemos eliminar o modificar tu nombre en un sitio web, véase la siguiente pregunta. De la misma manera, también podemos eliminar otra información de carácter confidencial.</p>
    
    <h2 id="takedown">¿Pueden registrar información confidencial relativa a mi persona?</h2>
    <p>Si ves en la página alguna información de carácter confidencial relacionada contigo que te gustaría que eliminásemos u ocultásemos, háganoslo saber. Especifique exactamente de qué información se trata y por qué puede suponer un problema. Además, explique dónde aparece en el sitio web.</p>
    <p>Cuando se publican datos confidenciales de manera accidental solemos eliminarlos. Por lo general, se suele eliminar la información de carácter privado a petición del individuo afectado, pero si cualquier persona encuentra información confidencial le rogamos que así nos lo indique.</p>
    <p>Pensamos que existe un gran interés público por retener los nombres de los funcionarios o trabajadores públicos de las autoridades. Sólo eliminaremos dichos nombres en circunstancias excepcionales, por ejemplo si se revela el nombre y el puesto desempeñado y ello puede conllevar un riesgo para la seguridad de la persona. Si eres funcionario y quieres que eliminemos tu nombre con urgencia por las razones mencionadas, tienes que enviarnos una solicitud a través del responsable de tu departamento u organismo. Esta solicitud tiene que probar que constituye un riesgo que va más allá del interés público, y debe demostrar que se han tomado medidas para ocultar el nombre en la página web de la organización y otros documentos que puedan ser públicos.</p>
    <p>Con el resto de las solicitudes llevamos a cabo una prueba de interés público para decidir si la información debería eliminarse de acuerdo con las normas de Protección de Datos de la Unión Europea. Consideramos que la información que publicamos es de naturaleza periodística y pertenece a todos.</p>
     
    <h2>¡Un organismo de la UE me ha pedido ni número de teléfono y mi dirección!</h2>
    <p>Si un organismo de la UE te pide tu <strong>número de teléfono</strong> para comentar o aclarar tu solicitud, te recomendamos que se lo des directamente a ellos, no a través del sitio web. Si no deseas proporcionar tu número puedes continuar tu consulta a través de email o les puedes pedir el número y concertar una hora para llamar y aclarar la solicitud.</p>
    <p>Si una autoridad pública te pide tu dirección completa (<strong>dirección postal</strong>), respóndeles diciendo que preferirías recibir información a través de correo electrónico. Este derecho está reconocido por el Reglamento 1049/2001, siempre y cuando la información exista en dicho formato.</p>
    
    <h2>¡No, necesitan una dirección postal para enviar su respuesta!</h2>
    <p>Si un organismo de la UE solamente posee una copia en papel de la información que tú deseas, pueden pedirte tu dirección postal. Intente convencerles de que escaneen los documentos. Si no lo consigues y decides darles su dirección de manera privada para recibir los documentos, especifique en tu solicitud que se trata de un correo postal y que la respuesta se enviará por correo.</p>
    <p><%= link_to 'Avísanos', help_contact_path %> cuando obtengas la información y entonces podrás subirla al sitio web. Si escaneas el documento, te daremos una dirección de email que puedes usar con este propósito.</p>
</div>
