<% @title = "Your privacy" %>
<div id="titleHow">YOUR PRIVACY</div>
<div id="subtitleAbout">WELCOME TO ASKTHEEU.ORG!</div>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    
    
    <p>On AsktheEU.org, only your name is visible to the general public unless you put other personal information in the body of the request.</p>
    <p>We strongly advise you not to put any personal information in the body of the request. That includes not putting your phone number, home address, email address or other personal or family or work details. You don’t need to give any of this information in order to exercise your right to information.</p>
    <p>If an EU public Official needs to speak with you by phone to clarify the request, you should send your number to them directly and not via this website.</p>

    <h2 id="email_address">Who gets to see my email address?</h2>
    <p>Your e-mail address will not be shown on the website unless you include in the message or in a footer to your email.</p> 
    <p>We will not disclose your email address to anyone unless we are obliged to by law, or you ask us to. AsktheEU.org is hosted on servers are located in the Netherlands which is subject to EU privacy and data protection laws.</p> 
    <p>We will not give your e-mail address to the EU body you send the request to. They only get to see an @asktheeu.org email address which is specific to that request.</p> 
    <p>If you send a message to another user on the site, then it will reveal your email address to them. You will be told that this is going to happen.</p>
    
    <h2>Will you use my e-mail address for newsletters or sell it to others?</h2>
    <p>No! We will never give or sell your email addresses to anyone else, unless we are obliged to by law, or you ask us to.</p>
    <p>After you sign up to AsktheEU.org, we only send you emails relating to the request you made or other things you specifically authorise us to do such as send you alerts about other requests.</p>
    
    <h2 id="public_request">Why will my name and my request appear publicly on the site?</h2>
    <p>We publish your request on the internet so that anybody can read it and make use of the information that you have found. We do not normally delete requests (<a href="#delete">more details</a>).</p>
    <p>Your name is part of your request, so has to be published as well. It is only fair, as we're going to publish the name of the civil servant who writes the response to your request.</p>
    <p>Using your real name also helps people get in touch with you to assist you with your research or to campaign with you.</p>
    
    <h2 id="real_name">Can I make an access to information request using a pseudonym?</h2>
    <p>You are advised to use your real name when making an access to documents request. You are exercising a right which is the basis for an open and democratic society and this should be under your real name.</p> 
    <p>If you feel that your name is very well known – for example you are a famous person or well known journalist or known to the EU body – you might want to get a friend or colleague to file the request. If you are really stuck, contact us and we will try to help you file the request; please note that we don’t have the resources to do this for everyone.</p>
    <p>Please note that if you use a pseudonym, you will not be able to exercise your legal right to appeal to the European Ombudsman or the Court of Justice.</p> 
    <p>We ask for a first and a last name. If you have more than one first or last name you can use these, but the minimum is a first and last name.</p> 
    <p>If we see silly names or really obvious pseudonyms, we will remove the request and contact the requester about this.</p> 
    <p>Please do not impersonate someone else!</p> 
    
    <h2 id="delete">Can you delete my requests, or alter my name?</h2>
    <p>AsktheEU.org is a permanent, public archive of access to information requests submitted to and answered by the EU. Even though you may not find the response to a request useful any more, it may be of interest to others. For this reason, we will not delete requests.</p> 
    <p>Under exceptional circumstances we may remove or change your name on the website, see the next question. Similarly, we may also remove other personal information.</p>
    
    <h2 id="takedown">Can you take down personal information about me?</h2>
    <p>If you see any personal information about you on the site which you'd like us to remove or hide, then please let us know. Specify exactly what information you believe to be problematic and why, and tell us where it appears on the site.</p>
    <p>If sensitive personal information that has been accidentally posted, then we will usually remove it. Normally we will only consider requests to remove personal information which come from the individual concerned, but for sensitive information we would appreciate anyone pointing out anything they see.</p>
    <p>We consider that there is a strong public interest in retaining the names of officers or servants of public authorities. We will only remove such names in exceptional circumstances, such as where the disclosure of a name and position of employment would substantially risk an individual's safety. If you are such an official and you wish to have your name removed for such an urgent reason, you must supply us with a request to do so from the head of your department or body. This request must demonstrate that a risk has been perceived which outweighs the public interest, and must demonstrate that efforts have been made to conceal the name on the organisation's own website and in other potentially public documents.</p>
    <p>For all other requests we apply a public interest test to decide whether information should be removed in line with European Union Data Protection rules. We take a position that the information that we publish is of a public nature and belongs to everyone.</p>
     
    <h2>The EU body has asked for my phone number or postal address!</h2>
    <p>If an EU body asks for your <strong>phone number</strong> to discuss or clarify the request we recommend that you give it, but directly to them not across the site. If you do not want to give out your number, you can opt to continue discussing by email or you could ask for their number and arrange a time to phone and discuss the request.</p> 
    <p>If a public authority asks you for your full, physical address (<strong>postal address</strong>), reply to them saying that you would prefer to receive information in electronic form. This is your right under Regulation 1049/2001 if the information exists in that format.</p> 
    
    <h2>No no, they need a postal address to send a paper response!</h2>
    <p>If an EU body only has a paper copy of the information that you want, they may ask you for a postal address. Try persuading them to scan the documents for you. If that doesn't work, and you want to provide your postal address privately in order to receive the documents, mark your request as "Gone Postal: the reply will be sent by post".</p>
    <p>When the information arrives, <%= link_to 'let us know', help_contact_path %> and you can upload it to the website. If you can scan the document we'll give you an email address to use for that purpose.</p>
</div>
