<% @title = "Ihre Privatsphäre" %>
<div id="titleHow">IHRE PRIVATSPHÄRE</div>
<div id="subtitleAbout">WILLKOMMEN BEI ASKTHEEU.ORG!</div>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    
    
    <p>Solange Sie keine weiteren persönlichen Informationen in Ihrem Anfragentext preisgeben, ist auf AsktheEU.org ausschließlich Ihr Name öffentlich zu sehen.</p>
    <p>Wir empfehlen Ihnen ausdrücklich in ihrem Anfragentext keine persönlichen Informationen zu verwenden. Dies bedeutet, keine Telefonnummer, Anschrift, Email-Adresse oder weitere persönliche-, berufliche-, oder familiäre Angaben. Keine dieser Informationen ist erforderlich, um Ihr Recht auf Informationszugang in Anspruch zu nehmen.</p>
    <p>Sollte ein EU-Beamter für Klärungsbedarf Ihrer Anfrage telefonisch mit Ihnen Kontakt aufnehmen müssen, so senden Sie Ihre Nummer direkt und nicht über die Internetseite.</p>

    <h2 id="email_address">Wer kann meine Email-Adresse sehen?</h2>
    <p>Sofern Sie Ihre Email-Adresse nicht in Ihre Nachricht oder Fußnote Ihrer Email verwenden, wird diese nicht angezeigt werden.</p> 
    <p>Sofern es uns nicht gesetzlich vorgeschrieben ist oder Sie uns ausdrücklich darum bitten, werden wir Ihre Email-Adresse nicht bekanntgeben. AsktheEU.org wird auf Servern in den Niederlanden gehostet, welche unter die EU-Gesetze zum Schutz der Privatsphäre und des Datenschutzes fallen.</p> 
    <p>Wir werden die von Ihnen verwendete Email-Adresse nicht an die von Ihnen kontaktierte EU-Behörde weiterleiten. Es wird ausschließlich eine spezifisch dieser Anfrage zugehörige @asktheeu.org Email-Adresse angezeigt werden.</p> 
    <p>Sollten Sie eine Nachricht an einen anderen Nutzer dieser Seite senden, so wird Ihre Email-Adresse diesem angezeigt. Sie werden vorab darüber Informiert, dass dies geschehen wird.</p>
    
    <h2>Werden Sie meine Email-Adresse für Newsletter verwenden, oder weiterverkaufen?</h2>
    <p>Nein! Sofern es uns nicht gesetzlich vorgeschrieben ist oder Sie uns ausdrücklich darum bitten, werden wir Ihre Email-Adresse nicht bekanntgeben.</p>
    <p>Nachdem Sie sich auf AsktheEU.org registriert haben, werden wir Ihnen ausschließlich Emails senden, die mit Ihrer Anfrage zu tun haben, oder zu anderen Aktionen, zu denen Sie uns ausschließlich autorisiert haben, wie z.B. Ihnen Nachrichten zu anderen Anfragen zu senden.</p>
    
    <h2 id="public_request">Warum werden mein Name und meine Anfrage öffentlich auf dieser Seite angezeigt?</h2>
    <p>Wir veröffentlichen Ihre Anfrage im Netz, damit sie von jedermann gelesen werden kann und die von Ihnen gefunden Informationen auch von anderen Menschen genutzt werden können. Normalerweise löschen wir keine Anfragen (<a href="#delete">weitere Hinweise</a>).</p>
    <p>Ihr Name ist Teil Ihrer Anfrage und muss somit auch veröffentlicht werden. Dies ist fair, da wir ebenfalls die Namen der antwortenden Beamten veröffentlichen werden.</p>
    <p>Wenn Sie Ihren richtigen Namen verwenden, erleichtert dies auch anderen Personenn mit Ihnen Kontakt aufzunehmen, um Sie bei Ihrer Forschung oder Kampagne zu unterstützen.</p>
    
    <h2 id="real_name">Kann ich ein Pseudonym verwenden, um meine Informationsfreiheitsanfrage zu stellen?</h2>
    <p>Wenn Sie eine IFG-Anfrage stellen, tun Sie gut daran Ihre Anfrage unter Ihrem richtigen Namen zu stellen. Sie machen Gebrauch von einem Recht, welches die Grundlage einer offenen und Demokratischen Gesellschaft bildet und dies sollte unter Ihrem richtigen Namen geschehen.</p> 
    <p>Falls Sie glauben, dass Ihr Name sehr bekannt ist, z.B. da Sie eine berühmte Persönlichkeit oder ein renomierter Journalist sind, oder der EU-Behörde bekannt sind, könnten Sie in Erwägung ziehen Ihren Anfrage durch eine/n Freund/in oder Kollegen/in stellen zu lassen. Sollten Sie wirklich keine Möglichkeit sehen, nehmen Sie Kontakt mit uns auf und wir werden sehen, wir wir Ihnen beim Stellen Ihrer Anfrage behilflich sein können. Bitte seien Sie sich bewusst darüber, dass wir nicht die Mittel haben, dies für jeden Nutzer zu tun.</p>
    <p>Bitten beachten Sie, dass Sie bei Verwendung eines Pseudonyms keinen Gebrauch von Ihrem Recht auf Beschwerde beim Europäischen Bürgerbeauftragten oder dem Gerichtshof machen können.</p> 
    <p>Wir bitten Sie um Angabe Ihres Vor- und Nachnamens. Sollten Sie mehrere Vor- oder Nachnamen haben, so können Sie diese verwenden, müssen jedoch mindestens einen Vor-und Nachnamen angeben. </p> 
    <p>Sollten wir alberne Namen oder sehr offensichtliche Pseudonyme verwenden, werden wir die Anfrage entfernen und den Anfragensteller kontaktieren.</p> 
    <p>Bitte geben Sie sich nicht als eine andere Person aus!</p> 
    
    <h2 id="delete">Können Sie meine Anfrage löschen oder meine Namen ändern?</h2>
    <p>AsktheEU.org ist ein permanentes, öffentliches Archiv für and die EU gestellte und durch diese beantwortete Informationsfreiheitsanfragen. Selbst wenn Sie eine Antwort auf eine bestimmte Anfrage nicht mehr nützlich finden, kann diese für andere Nutzer noch stets von Interesse sein. Aus diesem Grund werden wir keine Anfragen löschen.</p> 
    <p>In Ausnahmefällen kann es sein, dass wir Ihren Namen auf der Internetseite ändern oder entfernen werden (siehe hierzu nächsten Punkt). Ebenso kann es sein, dass wir persönliche Informationen entfernen.</p>
    
    <h2 id="takedown">Können Sie persönliche Informationen zu meiner Person entfernen?</h2>
    <p>Sollten Sie persönliche Informationen auf der Seite entdecken, welche Sie gerne von uns entfernt oder verdeckt haben möchten, teilen Sie uns dies bitte mit. Definieren Sie dabei genau, welche Informationen Sie als problematisch erachten, begründen Sie dies und lassen Sie uns wissen wo genau auf der Seite diese Informationen angezeigt werden.</p>
    <p>Falls es sich um versehentlich veröffentlichte vertrauliche Informationen handelt, so werden wir diese in der Regel entfernen. Normalerweise werden wir ausschließlich Anfragen zur Entfernung von Informationen berücksichtigen, welche von der betroffenen Person selbst kommen. Handelt es sich jedoch um vertrauliche Informationen, so bitten wir alle Nutzer uns zu Informieren, falls sie etwas sehen.</p>
    <p>Wir glauben, dass ein starkes öffentliches Interesse in der Speicherung der Namen von Beamten oder Angestellten von Behörden. Wir werden solche Namen nur in Ausnahmefällen entfernen, z.B. in Fällen wo die Veröffentlichung des Namens und der Position die Sicherheit einer Person fundamental in Gefahr bringen würde. Sollten Sie ein/e solche/r Beamte/r sein und Ihren Namen aufgrund eines solch dringlichen Grundes entfernt haben wollen, so müssen Sie uns einen entsprechenden Antrag von Ihrer Abteilungsleitung oder Institutsleitung vorlegen. Aus dieser Anfrage muss klar hervorgehen, dass das Risiko dem öffentlichen Interesse überwiegt und muss demonstrieren, dass Bemühungen getätigt wurden, den Name auf der organisationseigenen Internetseite sowie anderen öffentlichen Dokumenten zu verborgen zu halten.</p>
    <p>For all other requests we apply a public interest test to decide whether information should be removed in line with European Union Data Protection rules. We take a position that the information that we publish is of a public nature and belongs to everyone.</p>
     
    <h2>Die EU-Behörde hat mich nach meiner Telefonnummer oder Anschrift gefragt!</h2>
    <p>Falls eine EU-Behörde nach Ihrer <strong>Telefonnummer</strong> fragt, um Ihre Anfrage zu besprechen oder klarifizieren, empfehlen wir Ihnen die Nummer bereitzustellen, jedoch nicht über die Internetseite, sonder direkt. Falls Sie Ihre Nummer nicht bereitstellen möchten, können Sie vorschlagen die Konversation via Email fortzusetzen oder nach deren Nummer fragen und einen Termin vereinbaren, an welchem Sie anrufen, um die Angelegenheit zu besprechen.</p> 
    <p>Falls eine Behörde Sie nach Ihrem vollständigen Namen und Ihrer <strong>Postanschrift</strong> fragt, antworten Sie, dass Sie es vorziehen dei angefragten Informationen in elektronischem Format zu erhalten. Basierend auf Verordnung 1049/2001 ist dies Ihr Recht, sofern die Informationen in elektronischem Format bestehen.</p> 
    
    <h2>Nein, nein, es wird eine Postanschrift benötigt, um eine grdruckte Antwort zu senden!</h2>
    <p>Sollte eine EU-Behörde die von Ihnen angefragte Information ausscließlich in Papierformat besitzen, kann es sein, dass Sie nach Ihrer Postanschrift gefragt werden. Versuchen Sie sie zu überzeugen die Dokumente einzuscannen. Sollte dies nicht gelingen und Sie möchten Ihre Postanschrift verrtaulich übermitteln, um die Informationen zu erhalten, so markieren Sie Ihre Anfrage als "postalisch übermittelt: die Antwort wird per Post gesendet".</p>
    <p><%= link_to 'Informieren Sie uns', help_contact_path %>, sobald die Informationen eintreffen und Sie können diese auf die Internetseite hochladen. Wenn Sie die Dokumente einscannen können, geben wir Ihnen für diesen Zweck eine Email-Adresse.</p>
</div>
