<% @title = "Request Guide" %>
<div id="titleHow">REQUEST GUIDE</div>
<div id="subtitleAbout">HOW TO REQUEST</div>
<div id="contentAbout">
	
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">    
    <p>This section tells you how to make a request for EU documents. We answer some Frequently Asked Questions and offer you some tips on how to make effective requests which will get you the information you need.</p>

   <!-- <h3><a href="#making_requests">Making Requests</a></h3>
    <h3><a href="#finding_bodies">Finding EU bodies</a></h3>
    <h3><a href="#languages">Which languages?</a></h3>
    <h3><a href="#tips">Effective request tips</a></h3>
    <h3><a href="#answers_appeals">Responses &amp; Appeals</a></h3>
    <h3><a href="#request_moderation">Request Moderation</a></h3> -->

    <h1 id="making_requests">Making Requests</h1>

    <h2 id="1">1. Do I have the right to make a request?</h2>
    <p>EU citizens and residents have the right, protected by law, to ask for EU bodies for documents and to receive answers. Non-citizens and non-residents can also ask for documents but cannot appeal to the courts. Everyone has a right of appeal initial refusals and also to appeal to the EU Ombudsman.</p>
    <p>NGOs, businesses and other “legal persons” have the same right to ask for documents and appeal to the Ombudsman, but they must have a registered office in an EU Member State in order to appeal to the Courts.</p>

    <h2 id="2">2. What can I ask for?</h2>
    <p>The right to access EU documents is guaranteed by the Treaty on the Functioning of the European Union (Article 15) and by the <a href="http://www.europarl.europa.eu/charter/default_en.htm">Charter of Fundamental Rights of the European Union</a> (Article 42). These provisions form the basis of Regulation 1049/2001 regarding access to Parliament, Council and Commission documents.</p> 
    <p>When you formulate your request think what kind of documents will contain the information you are looking for, because public officials in the EU are technically not obliged to create a new document in response to a request.</p>
    <p>The exception to this is environmental matters where requesters have a more extensive right to information, which is not limited only to “documents”.  This is because access to environmental information is covered by an additional legal regime, the <a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32003L0004:EN:NOT">Aarhus Directive</a> on public access to environmental information.</p>

    <h2 id="3">3. Who can I ask?</h2>
    <p>You have a right to access documents held by all EU institutions, bodies, and agencies. And they have the obligation to answer your request within 15 working days.</p> 
    <p>So the right applies to the European Commission, the European Parliament, the Council of the European Union and most other EU offices, bodies and agencies. For some EU bodies such as the European Central Bank, however, the right only applies to the administrative functions of those bodies.</p>
    <p><%= link_to 'Click here to see the full list', list_public_bodies_default_path %>.</p>

    <h2 id="4">4. Why should I ask the EU?</h2>
    <p>In a healthy democracy the public knows what our governments are doing.</p>
    <p>The European Union is an integral part of the government structures in the European area. It is increasingly influential in every aspect of our daily lives and we should know what it is doing. It has been estimated that up to 50% of national laws originate from Brussels, with the figure rising to 70% when it comes to economic policies.</p>
    <p>But at present, most people have only a vague idea about what the EU really does. There are over 500 million people in the EU area but the EU institutions receive only about 10,000 requests for documents per year. That’s just one request per 50,000 people. Of course, some information is available on websites, but it’s not enough. If the European public is going to hold the EU to account and to participate in decision-making, we need more information.</p> 
    <p><strong>AsktheEU.org</strong> is designed to help members of the public find out more about what the EU is doing and to get access to information of use to you so that you can use it to engage in public debates and contribute to better decisions being taken at the EU level.</p>

    <h1 id="finding_bodies">Finding EU Bodies</h1>

    <h2 id="5">5. What if I don’t know which body to ask?</h2>
    <p>If you have a question but are not sure which public body might hold the information you want, try the following:</p>
    <ul>
        <li>Browse or search AsktheEU.org looking for similar requests to yours.</li>
        <li><a href="http://http://www.asktheeu.org/body/list/all">Browse and read the descriptions of each public body</a> to see what they do.</li>
        <li>When you have found the body you think might have the information you want, use the "home page" link to check its website.</li>
        <li>Don't worry excessively about getting the right body. If you get it wrong, they should advise you who to ask, or forward the request on to the correct body.</li>
        <li>If you are still not sure, please <a href="<%= help_contact_url %>">contact us for help</a>.</li>
    </ul>

    <h1 id="languages">Languages</h1>

    <h2 id="6">6. Which languages can I use?</h2>
    <p>You have a right to ask in any of the 23 official and working languages of the EU: Bulgarian, Czech, Danish, Dutch, English, Estonian, Finnish, French, German, Greek, Hungarian, Irish, Italian, Latvian, Lithuanian, Maltese, Polish, Portuguese, Romanian, Slovak, Slovene, Spanish and Swedish.</p>
    <p>The EU says <q>Due to time and budgetary constraints, relatively few working documents are translated into all languages. The European Commission employs <strong>English</strong>, <strong>French</strong> and <strong>German</strong> in general as procedural languages, whereas the European Parliament provides translation into different languages according to the needs of its Members.</q></p>
    <p>With AsktheEU.org we provide support (so far) in four of the most widely spoken languages: <strong>English</strong>, <strong>French</strong>, <strong>German</strong>, and <strong>Spanish</strong>. If you want to help be a volunteer translator for expanding this list and for translating answers into other languages, write to us at <a href="mailto:team@asktheeu.org">team@asktheeu.org</a>.</p>

    <h1 id="tips">Tips for Requests</h1>
    
    <h2 id="focused">7. What makes a good request?</h2>
    <p>Please put in your request only what is needed so that someone can easily identify the documents which contain the information you are asking for.</p>
    <p>Short, succinct messages make it easier for EU public officials to identify the information you are requesting, which means you will get a reply more quickly.</p>
    <p>A well-formulated request also gives public officials fewer reasons to reject your request on the grounds that it is too vague or not clear. But don’t worry about making it perfect: the EU body should come back to you for a clarification if they have not understood your request.</p> 
    <p>Please do not include any of the following:</p>
    <ul>
        <li>Arguments about a particular issue or cause; </li>
        <li>Statements that could defame or insult others; </li>
        <li>Offensive language.</li>
    </ul>
    <p>If you do, we may have to remove your request. We will let you know if we have done this and are always ready to discuss case by case.</p>
    
    <h2 id="data_protection">8. Can I ask for information about myself?</h2>
    <p>You should not use AsktheEU.org to get access to personal information about yourself. If you are asking for information about yourself, use the EU’s Data Protection rules. <a href="http://www.edps.europa.eu/EDPSWEB/">Click here for more information.</a></p>

    <h2>9. Why does the request form have the line about asking for documents?</h2>
    <p>At the EU level there is a right of access to documents rather than information. In practice there is little difference, but we include the phrase about documents as otherwise the request might be processed under the Code of Good Administrative Procedure which does refer to the “right to information” but which does not have the same timelines nor appeals possibilities.</p>

    <h2>10. Can I send the same request to several bodies?</h2>
    <p>You can ask for the same document from more than one body, although its best to start with the body most likely to hold the information you need.</p>
    <p>If that body does not hold all the relevant documents, they should refer you to the relevant bodies.</p>
    <p>There is currently no automated system for sending the request to the other authorities, you need to copy and paste it by hand.</p>

    <h1 id="answers_appeals">Answers &amp; Appeals</h1>

    <h2>11. Will I have to pay?</h2>
    <p>Submitting your request for documents is always free of charge.</p> 
    <p>Receiving information in electronic format is free of charge.</p>
    <p>EU bodies can charge you for “the cost of producing and sending copies” (Regulation 1049/2001). But these must not exceed the actual cost of photocopying and postage. You will always be notified before being charged so do not worry about this now and go ahead with your request!</p>

    <h2 id="quickly_response">12. When will I get an answer?</h2>
    <p>EU bodies should answer your requests within <strong>15 working days</strong> (about three weeks or a little more if there are public holidays during that time).</p> 
    <p>You might also get an acknowledgement before you get a final answer.</p>
    <p>In exceptional cases, for example when you ask for a large number documents, an extension of 15 further working days can be applied to your request. The AsktheEU.org website will keep a track of this.</p>

    <h2>13. What happens if I don’t get an answer?</h2>
    <p>AsktheEU.org will email you if you don't get a timely response. EU authorities have 15 working days to answer your request. AsktheEU.org will automatically send the public authority a message after 12 working days have passed in order to remind them of the deadlines for answering. If there is no response to this, you should submit an appeal. In the EU these are called “confirmatory applications” and can be easily done via email. </p>

    <h2>14. What if I get an answer but I am not happy with it?</h2>
    <p>There are a number of ways in which you can be disappointed with the answer to an information request:</p>
    <ul>
        <li>You only get part of the information you asked for (but no formal refusal) or the information you are given is irrelevant or does not quite correspond to your question - this is called an “incomplete answer”;</li>
        <li>You are told that the information “is not held” by that government department;</li>
        <li>You are granted partial access but some information is withheld on the basis of exceptions from the EU’s Regulation 1049/2001 (see also <a href="#14">Point 14 below</a>);</li>
        <li>You are refused access to all the information or documents that you asked for (see also <a href="#14">Point 14 below</a>);</li>
        <li>You don’t get any reply at all (“administrative silence” or a “mute refusal”).</li>
    </ul>
    <p>You will be given the chance to “classify” your answer according to a list of categories. If you are not sure how to do this, we will help you.</p>
    <p>If you think that the answer was wrong in some way, you can file an appeal, which is formally called a “confirmatory application”. See <a href="#15">Point 15</a> for more on this.</p>
    <p>If you think your complaint was badly handled, or you were treated rudely, you can file a complaint with the European Ombudsman.</p>

    <h2>15. What are the possible reasons for refusing to answer my request?</h2>
    <p>The EU access to documents rules, as set out in Regulation 1049/2001, include a number of reasons for not giving out information.</p> 
    <p>Known as “exceptions”, these reasons are to protect the right to privacy and to protect certain public interests. The list includes:</p> 
    <ul>
        <li>public security,</li>
        <li>defence and military matters,</li>
        <li>international relations,</li>
        <li>the financial, monetary or economic policy of the Community or a Member State;</li>
        <li>commercial interests of a natural or legal person, including intellectual property,</li>
        <li>court proceedings and legal advice,</li>
        <li>the purpose of inspections, investigations and audits</li>
        <li>the decision-making process</li>
    </ul>
    <p>These exceptions have to be applied narrowly and should only be applied if there is a foreseeable risk of harm to one of those protected interests. In many cases the EU must consider the potential importance of the public knowing the information. This is also referred to as the “public interest” in that information.</p>
    <p>If you are refused information, Access Info Europe is ready to advise you on whether you might have a good case for presenting an appeal.</p>

    <h2>16. Appeals: Confirmatory Applications</h2>
    <p>If you are unhappy with the response to a request, you can appeal to the next level in the administrative decision-making process. This is called a “confirmatory application” and essentially the EU is asked to reconsider its decision not to give you the information.</p>
    <p>It is worth trying the appeal process as it often results in the release of more information – sometimes even all of it.</p>
    <p>To submit a confirmatory application, you just need to reply to the person who denied you the information, stating clearly that you are submitting a confirmatory application. The institution should do the rest.</p> 
    <p>When you go to make the appeal, AsktheEU.org will give you more detailed guidance, and Access Info Europe can help you formulate your confirmatory application.</p>

    <h2>17. Can I re-use the information I get?</h2>
    <p>In general, documents created by EU bodies are “public” in the sense that they were created for us, with European tax payer’s money. So you should be free to use the documents which you receive and the information they contain. </p>
    <p>In case of doubt, especially if you plan to use the material for commercial purposes, ask the EU body which released the information.</p>

    <h1 id="request_moderation">Request Moderation</h1>

    <h2>18. How are requests and comments moderated?</h2>
    <p>We encourage the public to make requests and we make it possible for you and others to comment on your requests.</p> 
    <p>Our team of staff and volunteers will check the content regularly and we reserve the right to remove inappropriate statements, such as those which are abusive or potentially defamatory.</p> 
    <p>You can also report inappropriate material if you see it.</p>

    <h2>19. Can I keep my request confidential until I release my story/article?</h2>
    <p>AsktheEU.org is designed for public requests. All responses that we receive are automatically published on the website for anyone to read.</p> 
    <p>If you are a journalist, NGO, or other person who wants to keep the answer private until you have written your story or for other reasons, you should send your access to documents request directly to the EU body, not via this website.</p>

    <h2>20. I have the response to a request filed directly with an EU body; can I share it here?</h2>
    <p>Sorry, but no. AsktheEU.org is an archive of requests made through the site, and does not try to be an archive of all FOI requests. We do not support uploading other requests because we cannot verify that the responses actually came from an EU body.</p> 
    <p>If you want to make the response public, you would need to make the same request again via AskTheEU.org.</p>
</div>
</div>
