<% @title = "Guía para realizar solicitudes" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1>Guía para realizar solicitudes</h1>
    <p>En esta sección se explica cómo se solicitan documentos a la UE. Se incluyen respuestas a algunas de las preguntas más frecuentes y se dan algunos consejos acerca de cómo realizar solicitudes efectivas que le proporcionen la información que tú necesitas.</p>

    <h3><a href="#making_requests">Solicitar información</a></h3>
    <h3><a href="#finding_bodies">Localizar los organismos de la UE</a></h3>
    <h3><a href="#languages">Idiomas</a></h3>
    <h3><a href="#tips">Consejos sobre las solicitudes</a></h3>
    <h3><a href="#answers_appeals">Respuestas y apelaciones</a></h3>
    <h3><a href="#request_moderation">Moderación de las solicitudes</a></h3>

    <h1 id="making_requests">Solicitar información</h1>

    <h2 id="1">1. ¿Tengo derecho a realizar una solicitud?</h2>
    <p>El derecho a solicitar documentos a los organismos de la UE y a obtener una respuesta está reconocido por la ley en el caso de tratarse de ciudadanos y residentes de la UE. Asimismo, aquellos que no sean ciudadanos ni residentes pueden realizar solicitudes, aunque no pueden apelar a los tribunales. Todo el mundo tiene derecho a apelar las denegaciones en la etapa inicial, así como a apelar al Defensor del Pueblo Europeo.</p>
    <p>La ley también reconoce el derecho de las ONG y otras “personas jurídicas” a solicitar información y apelar al Defensor del Pueblo Europeo, aunque para apelar a los tribunales han de tener un domicilio social en uno de los estados miembros de la UE.</p>

    <h2 id="2">2. ¿Qué información puedo solicitar?</h2>
    <p>El derecho a acceder a documentos de la UE está reconocido por el Tratado de Funcionamiento de la Unión Europea  (artículo 15) y por la <a href="http://www.europarl.europa.eu/charter/default_en.htm">Carta de los Derechos Fundamentales de la Unión Europea</a> (artículo 42). Estas disposiciones forman la base del Reglamento 1049/2001 relativo al acceso a los documentos del Parlamento, el Consejo y la Comisión.</p> 
    <p>Cuando realices la solicitud, piense qué tipo de documentos contienen la información que buscas ya que, en principio, los funcionarios de la UE no están obligados a crear un documento nuevo en respuesta a tu solicitud.</p>
    <p>Los asuntos ambientales suponen una excepción, puesto que en este caso los solicitantes tienen derecho a recibir información más detallada que no se limita exclusivamente a “documentos”. Esto se debe a que la información sobre el medio está amparada por un régimen jurídico adicional, el <a href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=CELEX:32003L0004:EN:NOT">Convenio de Aarhus</a>, relativo al acceso público a la información medioambiental.</p>

    <h2 id="3">3. ¿A quién puedo dirigirme?</h2>
    <p>Tú tienes derecho de acceso a documentos de todos los organismos, las instituciones, y las agencias de la UE. Y ellos tienen la obligación de responder a tu solicitud en 15 días laborales.</p> 
    <p>Así pues, este derecho se aplica a la Comisión Europea, el Parlamento Europeo, el Consejo de la Unión Europea y la mayoría de las oficinas, los organismos y las agencias de la UE. Sin embargo, si se trata de algunos organismos de la UE como el Banco Central Europeo, este derecho se limita a las funciones administrativas de dichos organismos.</p>
    <p><%= link_to 'Pinche aquí para ver la lista completa', list_public_bodies_default_path %>.</p>

    <h2 id="4">4. ¿Por qué debería solicitar información a la UE?</h2>
    <p>En una democracia sana, los ciudadanos saben lo que hacen sus gobiernos.</p>
    <p>La Unión Europea es una parte integral de las estructuras de gobierno en el ámbito europeo. Cada vez tiene más impacto en todos los aspectos de nuestra vida cotidiana y deberíamos saber qué hace. Se estima que hasta un 50% de la legislación nacional proviene de Bruselas y esta cifra aumenta hasta el 70% en lo que se refiere a las políticas económicas.</p>
    <p>No obstante, en la actualidad la mayoría de la gente sólo tiene una idea vaga acerca de lo que en realidad hace la UE. Aunque hay más de 500 millones de personas en el área de la UE, las instituciones europeas solo reciben 10.000 solicitudes de documentos al año. Esto supone solamente una solicitud por cada 50.000 personas. A pesar de que existe alguna información disponible en las páginas web, no es suficiente. Si los ciudadanos europeos quieren pedir cuentas a la UE y participar en la toma de decisiones, necesitan más información.</p> 
    <p>La página <strong>AsktheEU.org</strong> está diseñada para ayudar a los ciudadanos a saber más acerca de lo que hace la UE y proporciona acceso a información que usted puede utilizar para participar en debates públicos y ayudar a que se tomen mejores decisiones a nivel comunitario.</p>

    <h1 id="finding_bodies">Localizar los organismos de la UE</h1>

    <h2 id="5">5. ¿Qué pasa si no sé a qué organismo tengo que dirigirme?</h2>
    <p>Si tienes una pregunta pero no estás seguro del organismo público al que tienes que dirigirte para solicitar la información que necesitas, pruebe lo siguiente:</p>
    <ul>
        <li>Consulta o busca en AsktheEU.org solicitudes similares a la tuya.</li>
        <li>Lee la descripción de cada organismo público para informarte de lo que hacen.</li>
        <li>Cuando hayas encontrado el organismo que en tu opinión posee la información deseada, usa el enlace de la “página principal” para consultar su sitio web.</li>
        <li>No te preocupes demasiado por localizar el organismo apropiado. Si te equivocas, te aconsejarán el lugar adecuado o reenviarán tu solicitud al organismo correcto.</li>
        <li>Si todavía tienes dudas, por favor <a href="<%= help_contact_url %>">pónte en contacto con nosotros</a> para que podamos ayudarte.</li>
    </ul>

    <h1 id="languages">Idiomas</h1>

    <h2 id="6">6. ¿Qué idiomas puedo usar?</h2>
    <p>Tienes derecho a realizar su solicitud en cualquiera de las 23 lenguas oficiales y de trabajo de la UE: búlgaro, checo, danés, holandés, inglés, estonio, finlandés, francés, alemán, griego, húngaro, irlandés, italiano, letón, lituano, maltés, polaco, portugués, rumano, eslovaco, esloveno, español y sueco.</p>
    <p>De acuerdo con la UE, <q>Por razones de tiempo y presupuesto, son relativamente pocos los documentos de trabajo que se traducen a todas las lenguas. Por lo general, la Comisión Europea emplea el <strong>inglés</strong>, el <strong>francés</strong> y el <strong>alemán</strong> como lenguas de procedimiento, mientras que el Parlamento Europeo proporciona traducciones a diferentes lenguas según las necesidades de sus diputados.</q></p>
    <p>Por el momento, en AsktheEU.org se presta ayuda en cuatro de las lenguas más habladas: inglés, francés, alemán y español. Si deseas colaborar como traductor voluntario para ampliar esta lista y traducir las respuestas a otros idiomas, escríbenos a <a href="mailto:team@asktheeu.org">team@asktheeu.org</a>.</p>

    <h1 id="tips">Consejos sobre las solicitudes</h1>
    
    <h2 id="focused">7. ¿Qué constituye una buena solicitud?</h2>
    <p>Por favor, incluye en tu solicitud lo necesario para identificar fácilmente la información que estás pidiendo de la institución.</p>
    <p>Los mensajes cortos y concisos hacen que sea más fácil para los funcionarios de la UE identificar la información que pides, lo que significa que recibirás una respuesta más rápidamente.</p>
    <p>Además, una petición bien formulada da menos razones a los funcionarios para rechazar tu solicitud por considerarla vaga o poco clara. Sin embargo, no te preocupes por hacerla perfecta: el órgano de la UE se pondrá en contacto contigo para aclarar lo que no hayan entendido de tu petición.</p> 
    <p>Por favor, no incluya:</p>
    <ul>
        <li>Argumentos basados en un tema o causa particular;</li>
        <li>declaraciones que puedan difamar o insultar a terceras personas;</li>
        <li>lenguaje ofensivo.</li>
    </ul>
    <p>En caso contrario, nos veremos obligados a rechazar tu petición. Si fuera así, te lo haríamos saber y estaríamos siempre dispuestos a discutir caso por caso.</p>
    
    <h2 id="data_protection">8. ¿Puedo pedir información sobre mí mismo?</h2>
    <p>No utilice AsktheEU.org para acceder a su propia información personal. Si quiere información sobre si mismo, utilice las normas de Protección de Datos de la UE. <a href="http://www.edps.europa.eu/EDPSWEB/">Haga clic aquí para más información.</a></p>

    <h2>9. ¿Por qué hay en el formulario de solicitud una frase para la solicitud de documentos?</h2>
    <p>En el nivel de la UE existe el derecho de acceso a los documentos en vez de a la información. En realidad hay poca diferencia, sin embargo; incluimos esa frase sobre los documentos porque, de no ser así, la petición podría ser procesada de acuerdo con el Código Europeo de Buena Conducta Administrativa, el cual hace referencia al “derecho a la información” pero no posee los mismos plazos ni posibilidades de apelación.</p>

    <h2>10. ¿Puedo enviar la misma solicitud a distintos órganos?</h2>
    <p>Puedes pedir el mismo documento a más de un órgano, si bien es mejor empezar por el órgano que tenga más posibilidades de contar con la información que necesitas.</p>
    <p>Si ese órgano no cuenta con todos los documentos relevantes, ellos mismos deberán remitirle a los órganos pertinentes.</p>
    <p>Actualmente no existe un sistema automático para enviar las peticiones al resto de autoridades, tiene que copiarlo y pegarlo a mano.</p>

    <h1 id="answers_appeals">Respuestas y apelaciones</h1>

    <h2>11. ¿Tendré que pagar?</h2>
    <p>Presentar tu solicitud de documentos es gratuito.</p> 
    <p>Recibir información en formato electrónico es gratuito.</p>
    <p>Los organismos de la UE pueden cobrarte «los gastos de realización y de envió de las copias» (Reglamento 1049/2001). Dichos gastos no deben superar el coste actual de fotocopia y franqueo. Tendrán que informarte siempre antes de cobrarte así que no te preocupes de esto ahora y ¡sigue con tu solicitud!</p>

    <h2 id="quickly_response">12. ¿Cuándo obtendré una respuesta?</h2>
    <p>Los organismos de la UE deben contestar a tu solicitud dentro de <strong>15 días laborales</strong> (casi tres semanas o poco más si hay fiestas oficiales en este lapso de tiempo).</p> 
    <p>Podrías también obtener un acuse de recibo antes de recibir la respuesta final.</p>
    <p>En casos excepcionales, por ejemplo cuando solicites un gran número de documentos, puede ser aplicada a tu solicitud una extensión de 15 ulteriores días laborales. El sitio web de AsktheEU.org vigilará el cumplimiento de los plazos. </p>

    <h2>13. ¿Qué pasa si no recibo una respuesta?</h2>
    <p>AsktheEU.org te enviará un correo si no recibes una oportuna respuesta. Las autoridades de la UE tienen 15 días laborales para contestar a tu solicitud. AsktheEU.org enviará automáticamente un mensaje a las autoridades públicas al transcurrir los 12 días laborales con el fin de recordarles el plazo para contestar. Si no hay respuesta deberás presentar una apelación. En la UE hay las llamadas “solicitudes confirmatorias” y se pueden enviar fácilmente por correo electrónico.</p>

    <h2>14. ¿Qué pasa si recibo una respuesta que no me satisface?</h2>
    <p>Hay cierto número de casos en los que puedes estar insatisfecho con la respuesta a tu solicitud:</p>
    <ul>
        <li>Sólo has recibido parte de la información que solicitaste (pero no un rechazo formal) o la información que te ha sido facilitada es irrelevante o no responde completamente a tu pregunta – ésta se llama “respuesta incompleta”;</li>
        <li>Te han dicho que la información “no está en poder” de aquel organismo;</li>
        <li>Te ha sido concedido acceso parcial pero parte de la información ha sido ocultada sobre la base del Reglamento 1049/2001 (véase también el <a href="#14">Punto 14</a> más abajo);</li>
        <li>Te han denegado el acceso a la información o a los documentos que has solicitado (véase también el <a href="#14">Punto 14</a> más abajo);</li>
        <li>No has recibido ninguna respuesta en absoluto (“silencio administrativo” o “denegación muda”).</li>
    </ul>
    <p>Tendrás la posibilidad de “clasificar” tu respuesta según una lista de categorías. Si no sabes como hacerlo te ayudaremos.</p>
    <p>Si piensas que la respuesta es incorrecta puedes presentar una apelación que es formalmente llamada “solicitud confirmatoria”. Véase el <a href="#15">Punto 15</a> para más informaciones sobre el tema.</p>
    <p>Si piensas que tu reclamo ha sido mal gestionado o que tú has sido tratado groseramente, puedes presentar una reclamación al Defensor del Pueblo Europeo.</p>

    <h2>15. ¿Cuáles posibles razones autorizarían una denegación de la información solicitada?</h2>
    <p>Las reglas de acceso a los documentos de la UE, así como dispuesto por el Reglamento 1049/2001, prevén unas cuantas razones que legitiman a no divulgar una información.</p> 
    <p>Conocidas como “excepciones”, estas razones protegen el derecho a la privacidad y algunos intereses públicos. La lista incluye:</p> 
    <ul>
        <li>seguridad pública;</li>
        <li>defensa y asuntos militares;</li>
        <li>elaciones internacionales;</li>
        <li>política financiera, monetaria o económica de la Comunidad o de un Estado Miembro;</li>
        <li>intereses comerciales de una persona física o jurídica, incluida la propiedad intelectual;</li>
        <li>procedimientos judiciales y asesoramiento jurídico;</li>
        <li>objetivo de actividades de inspección, investigación y auditoría;</li>
        <li>asuntos sobre los que no haya sido todavía tomada una decisión;</li>
    </ul>
    <p>Estas excepciones deben ser aplicadas con moderación y solamente si hay un riesgo previsible de perjudicar uno de los mencionados intereses protegidos. En muchos casos la UE debe considerar la potencial importancia del conocimiento de la información por parte del público. Este se conoce también como “interés público” en la información.</p>
    <p>Si se te deniega información, Access Info Europe está dispuesto a aconsejarte sobre si tienes motivos para presentar una apelación.</p>

    <h2>16. Apelaciones: Solicitudes Confirmatorias</h2>
    <p>Si no estás satisfecho con la respuesta a tu solicitud puedes apelarte a una autoridad superior en el proceso de toma de decisiones administrativas. Puedes hacerlo con una “solicitud confirmatoria” con la cual esencialmente se pide a la UE de reconsiderar su decisión de no proporcionarte la información.</p>
    <p>Vale la pena intentar el proceso de apelación ya que termina en la expedición de más información – a veces, toda.</p>
    <p>Para presentar una “solicitud confirmatoria” solo tienes que responder a la persona quien te denegó la información, estipulando claramente que estas presentando una “solicitud confirmatoria”. La institución debería encargarse del resto.</p> 

    <h2>17. ¿Puedo reutilizar la información recibida?</h2>
    <p>En general, los documentos producidos por la UE son “públicos” en el sentido de que están creados para nosotros, con el dinero de los contribuyentes europeos. Por lo tanto tendrías que ser libre de utilizar los documentos que recibes y la información que contienen.</p>
    <p>En caso de duda, especialmente si tienes pensado utilizar el material para propósitos comerciales, pregunta al organismo europeo que ha expedido la información.</p>

    <h1 id="request_moderation">Moderación de las solicitudes</h1>

    <h2>18. ¿Cómo se moderan las solicitudes y los comentarios?</h2>
    <p>Animamos a los ciudadanos a que realicen solicitudes y ofrecemos la posibilidad de que tú u otras personas inserten comentarios en tus consultas.</p> 
    <p>Nuestro equipo de empleados y voluntarios consulta los contenidos con regularidad y nos reservamos el derecho de eliminar declaraciones poco apropiadas, como las de naturaleza ofensiva o potencialmente difamatoria.</p> 
    <p>Asimismo, tú puedes denunciar contenidos inadecuados si los encuentras.</p>

    <h2>19. ¿Es posible mantener la confidencialidad de mi solicitud hasta la publicación de mi artículo?</h2>
    <p>AskTheEU.org está diseñada para realizar solicitudes públicas. Todas las respuestas que recibimos se publican automáticamente la página web para que todo el mundo las pueda consultar.</p> 
    <p>Si tú eres un periodista, una ONG u otra persona que desea mantener el carácter confidencial de tu consulta hasta que hayas escrito tu artículo o por otras razones, tienes que enviar la solicitud de acceso a documentos directamente al organismo de la UE, no a través de este sitio web.</p>

    <h2>20. He obtenido la respuesta a una solicitud directamente a través de un organismo de la UE; ¿puedo compartirla en este sitio?</h2>
    <p>Lamentamos decirle que no es posible. AsktheEU.org archiva las solicitudes realizadas a través del sitio pero no pretende ser un archivo de todas las solicitudes de información. No se permite cargar otras solicitudes en esta página puesto que no podemos verificar si las respuestas proceden efectivamente de un organismo de la UE.</p> 
    <p>Si desea hacer pública una respuesta, tiene que volver a realizar la solicitud a través de AskTheEU.org.</p>
</div>
