<% @title = "Your Right to Know" %>
<div id="titleHow">Your Right to Know</div>
<div id="subtitleAbout">WELCOME TO ASKTHEEU.ORG!</div>
<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    
    <h2>Text coming soon...</h2>
</div>
