@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Semibold:300,300italic,700);
@import url(font-awesome/css/font-awesome.min.css);

/** LAYOUT **/
body {
    font-family: Open Sans,Verdana, Helvetica, Arial;
    font-size: 12px;
    
}
    body.front {
        background: none;
    }

#content {
    width: 840px;
    padding: 22px 60px;
    margin: auto;
}

#wrapper {
    padding-top: 10px;
    margin-bottom: 50px;
    width: 960px;
}

#wrapper_modal {
    text-align: left;
}

#header_right {
    width: 180px;
    float: left;
    margin-top: 30px;
}
    .feed_link a, 
    .act_link a, 
    #header_right > a {
        color: #009a9d;
        font-size: 12px;
        text-decoration: none;
    }
    #header_right a:hover {
        text-decoration: underline; 
    }
#header_right h2
{
	margin-top: 50px;	
}	
#header_left,
.header_left {
    width: 738px;
float: left;
/*padding-left: 21.7%;*/
}

#header_left h1
{
	background-color: #DEDD39;
	margin-top: 0px;
	color: #FFF;
	padding-left: 62.7%;
	font-size: 30px;
	line-height: 49px;
	width: 1438px;
	margin-left: -458px;
	border-bottom: 22px solid #000;
	margin-bottom: 50px;
}
#everypage {
    background-color: #666;
    opacity: 0.95;
    border-color: #FFF;
    border-radius: 0;
    border-left: none;
    border-rigth: none;
    left: 0;
    width: 99%;
    padding-right: 1%;
    color: #EEE;
    font-weight: bold;
}


/** HEADER **/ 
#banner {
    background:#E2EBE1;
    border: none;
    height: 150px;
    position: relative;
	margin-bottom: -40px;
    border-bottom: 1px solid #B2DCDE;
    
}

#banner_inner {
    width: 1060px;
    height: 150px;
}
    #banner_inner a:hover {
        text-decoration: underline; 
    }

#logo {
    position: absolute;
    top: 49px;
	margin-left:40px;
}
#topnav{top:66px}

#navigation_search{opacity:0; display:none;}
#navigation_search_form{
text-align: center;
}



#navigation_search2 
{
    
    margin: 298px 54px 0px 0px;	
	font-size: 13px;
	
}

div.lang {
    top: 23px;
    color: #00aaa6;
    font-size: 12px;
    text-transform: capitalize;
	right: 50px;
}
    div.lang a {
        color: #7cb955;
        text-decoration: none;
    }
.tracking-links-frontpage a{
color: #000; text-decoration:none;
}


#logged_in_bar {
    top: 25px;
    right: 220px;
    font-weight: bold;
    font-size: 12px;
    padding: 3px 8px 1px 8px;
    height: 19px;
    background: #7cb955;
    border-radius: 5px;
    border: 1px solid #5D8F3B;
	right: 243px;
}
#logged_in_bar, #logged_in_bar a, #logged_in_bar a:visited {        
        color: #FFF;
        text-decoration: none;
        background: linear-gradient(to bottom , #8CC63F, #5D8F3B) repeat scroll 0% 0% transparent;        
    }
#logged_in_bar a {
        margin-left: 5px;
        margin-right: 4px;
        transition: color 0.5s ease-in-out 0s;
}
#logged_in_bar a:hover {
       
    }
#logged_in_bar:hover a {        
        color: #FFF!important;
        text-decoration: underline;
	 background: linear-gradient(to bottom , #5D8F3B, #8CC63F) repeat scroll 0% 0% transparent;      
    }
#logged_in_bar:hover{
	background: linear-gradient(to bottom , #5D8F3B, #8CC63F) repeat scroll 0% 0% transparent;  
}
/** NAVIGATION BAR **/ 
#topnav {
    font-family:Open Sans, Helvetica, Arial;
    font-size: 14px;
    font-weight: 500;
    float: right;
    margin-left: 0px;
    left:0px;
margin-right:50px;
}
#topnav ul li {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 4px;
	width:141px;
	height:40px;
	border: 1px solid #5D8F3B;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
	background:#7cb955;
	line-height:37px;
	/*text-shadow: 0px -1px 0px #000;*/
	text-align: center;
    }
    #topnav ul li a {
        color: #FFF!important;
        font-weight: 600;
         transition: color 0.5s ease-in-out 0s;
	line-height: 12px;
	padding-top: 9px;
	display: inline-block;
         
    }
    #topnav ul li:hover a {
        color:#FFF !important;
	text-decoration:underline;
    }
    #topnav ul li:active a {
        color:#DBE23A !important;
        text-decoration:none;
        border:none;
    }
   
    #topnav ul li a:active{
        color: #DBE23A!important;
        text-decoration:none;
        border:none;
    }
    
  #topnav ul li.selected:hover {
        color: #DBE23A !important;
	 background: linear-gradient(to bottom , #5d8f3b, #8CC63F) repeat scroll 0 0 transparent;
        
    }

	
	
	#topnav ul li.selected {
		background-color:#7CB955;
		background: linear-gradient(to bottom ,#8CC63F, #5d8f3b) repeat scroll 0% 0% transparent;
	}
	
	#topnav ul li.current {
		background-color:#000000;
		background: linear-gradient(to bottom , #5d8f3b,#8CC63F) repeat scroll 0% 0% transparent;
	}
	
/** MAIN SITE **/
h1, h1 a {
    font-family: 'Open Sans', Helvetica, Arial;
    color: #000;
    font-size: 28px;
    font-weight: 500;
    margin-top: 14px;
    text-decoration: none;
}

h2, h2 a {
    font-family: 'Open Sans', Helvetica, Arial;
    color: #7bbb58;
    font-size: 18px;
    font-weight: 700;
}

h3, h3 a {
    font-family: Helvetica, Arial;
    color: #00aaa6;   
    font-size: 14px;
    font-weight: bold;
}

/** HELP **/
#left_column_flip 
{
    	margin-top: 10px;
    	padding-left: 30px;
    	margin-right: 30px;
    	width: 728px;
	float:left;
}
/*#left_column_flip h1
{
    font-family: "Open Sans",Helvetica,Arial;
    color: #FFF;
    font-size: 30px;
    font-weight: 500;
    margin-top: -10px;
    text-decoration: none;
    background-color: #DEDD39;
    padding-left: 21.7%;
    line-height: 49px;
    width: 980px;
    margin-left: -209px;
    margin-bottom: 40px;
}*/

#left_column_flip li {
        padding-bottom: 8px;
    }

#right_column_flip 
{
    text-align: left;
    width: 180px;
    margin-top: 10px;
}
    #right_column_flip h3 {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    #right_column_flip ul {
        margin-top: 0px;
        margin-bottom: 5px;
        padding-left: 0px;
        list-style: none outside none;
    }

.controller_help {
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}
    .controller_help a {
        color: #009a9d;
        text-decoration: none;
    }
    .controller_help a:hover {
        text-decoration: underline;
    }

.XXX {  /* TODO stuff */
    color: red;
    font-weight: bold;
    background-color: yellow;
}

/** FRONTPAGE **/
.front #wrapper, .front #content {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#frontpage-intro {
    width: 980px;
    margin: auto;
    position: relative;
}

#intro-container { 
    
    /*width: 1060px;*/
    height:361px;
    
}

#intro-big {
    
   
    width: 642px;
    height:361px;
    float:left;
    border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    
}
#info-bar {
    
    background-color:#009899;
    color:#FFFFFF;
    height:26px;
     border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
  	margin-top: 22px;
	text-align: left;
	margin-bottom: 22px;
	font-size: 15px;
	line-height: 26px;
	padding-left: 9px;
	display: inline-block;
	width: 958px;
}
#intro-right-up {
    
	width: 304px;
	height: 209px;
	margin-left: 664px;
	margin-bottom:22px;
	background: image-url('search_background.png');
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#intro-right-up p.search
{
	color: #FFFFFF;
	font-size: 61px;
	font-weight: 600;
	text-shadow: 0px 0px 10px #646464;
	margin-left: 23px;
}
#intro-right-up p.asktheeu
{
	color: #FFF;
	margin-left: 24px;
	text-shadow: 0px 0px 10px #646464;
	font-weight: 500;
	font-size: 41px;
	float: left;
	margin-top: -79px;
}

#intro-right-down {
    
   background: image-url('send_background.png');
    width: 304px;
    height:131px;
    float:left;
    margin-left:22px; 
    
}
#frontpage-intro #send a{
	font-size: 50px;
	color: #FFF;
	margin-top: 5px;
	
	text-shadow: 0px 0px 10px #000;
}
#send{
	margin-left: 20px;
}

#arequest{
	margin-left: 20px;
	margin-top: -21px;
}
#frontpage-intro #arequest a{
	font-size: 33px;
	font-weight: 400;
	color: #FFF;
	text-shadow: 0px 0px 10px #000;
}

#frontpage-lead {
    font-family: 'Open Sans', Helvetica, Arial;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #73c167;
}

#frontpage-left-balloon {
    float: left;
    width: 196px;
    height: 184px;
    background: image-url('yellow_balloon.gif');
    padding: 10px 30px 20px 50px;
    margin: 37px 8px 60px 0px;
    text-align: center;
}
    #frontpage-left-balloon h2 {
        font-family: 'Open Sans', Helvetica, Arial;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        padding-right: 20px;
        margin-bottom: 5px;
    }
    #frontpage-left-balloon p {
        padding-right: 20px;
    }
    #frontpage-left-balloon .frontpage-button-link {
        margin-left: 38px;
    }

#frontpage-middle-balloon {
    float: left;
    width: 314px;
    height: 283px;
    background: image-url('blue_balloon.gif');
    padding: 0px 30px 0px 30px;
    text-align: center;
}
    #frontpage-middle-balloon h1 {
        font-family: 'Open Sans', Helvetica, Arial;
        font-size: 42px;
        font-weight: 700;
        color: #fff;
        padding-right: 10px;
        margin-bottom: 5px;
    }
    #frontpage-middle-balloon p {
        margin-left: 15px;
        padding-right: 20px;
    }
    #frontpage-middle-balloon .frontpage-button-link {
        margin-left: 102px;
    }

#frontpage-right-balloon {
    float: left;
    width: 218px;
    height: 174px;
    background: image-url('green_balloon.gif');
    padding: 5px 20px 20px 50px;
    margin: 42px 0px 60px 4px;
    text-align: center;
}
    #frontpage-right-balloon h2 {
        font-family: 'Open Sans', Helvetica, Arial;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        padding-right: 30px;
        margin-bottom: 5px;
    }
    #frontpage-right-balloon p {
        padding-right: 30px;
    }
    #frontpage-right-balloon .frontpage-button-link {
        margin-left: 43px;
    }
        
#frontpage-left-balloon p,
#frontpage-right-balloon p,
#frontpage-middle-balloon p {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-top: 0px;
}

#frontpage-intro a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}      
    #frontpage-intro a:hover {
        text-decoration: underline;
    }

.frontpage-button-link {
    height: 24px;
    width: 100px;
    background: image-url('button_gradient.gif');
    border-radius: 5px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
    
#frontpage-content {
    background-color:#e2ebe1;
    border-bottom: 1px solid #B2DCDE;
    border-top: 1px solid #B2DCDE;
}

#frontpage-inner-content {
    width: 980px;
    margin: auto;
    position: relative;
    padding-bottom: 20px;
	margin-top: 20px;
}

#left-column {
    float: left;
    /*background: #e2ebe1;*/
    width: 666px;
	
}
#right-column{
    float: left;
    /*width: 396px;*/
    height: 705px;
	background: #009899;
    /*margin-left:22px;*/
	margin-bottom: 75px;
}
#right-column h1{
	color:#FFF;
	text-align:center;
	margin-top: 10px;
	margin-bottom: -11px;
	font-weight: 500;
	font-size: 28px;
}

#blog #sq1
{
	float:left;
	width:100%;
}
#sq1
{
	float:left;
	width: 666px;
	/*margin-right: 64px;*/
}

#sq1 .part1 
{
float: left;
width: 252px;
margin-right: 87px;
}

#blog #sq1
{
	margin-top: 26px;
}

#blog p
{
	color: #6f6f6e;
    font-size: 12px;
    line-height: 1.2;
	width: 252px;
}
#blog .part1 a{
	color:#000;
	font-size: 20px;
	text-decoration:none;
}
#blog .part2 a{
	color:#000;
	font-size: 20px;
	text-decoration:none;
}
#blog #sq1 .part2 
{
	width: 252px;
	float: left;
	margin-top: -53px;
	margin-left:21px;
}
#blog .part3 a{
	color:#000;
	font-size: 20px;
	text-decoration:none;
}
#sq1 .part2 
{
	width: 252px;
	float: left;
	margin-top: -53px;
}
#sq1 .part3
{
	width: 252px;
	float: left;
	margin-top: -53px;
	margin-left: 104px;
}
#sq2
{
	float:left;
	width: 666px;
	/*margin-right: 64px;*/
}

#sq2 .part1 
{
float: left;
width: 252px;
margin-right: 87px;
}
#sq2 .part2 
{
	width: 252px;
	float: left;
	margin-top: -53px;
}


#frontpage-content p {
    color: #6f6f6e;
    font-size: 12px;
    line-height: 1.2;
}

#frontpage-content p a {
    color: #009a9d;
    font-size: 20px;
    text-decoration: none;
}
    #frontpage-content a:hover {
        text-decoration: underline; 
    }

.picture-frame {
		
		width: 253px;
		/*height: 586px;*/
		border: 0px solid #DCDBDB;
		/*border-radius: 15px;*/
		margin-bottom: 30px;
		/*background: image-url('requests.png');*/
		/*margin-left: 45px;*/
		margin-top: 23px;
		background-color: #DCDBDB;
	}
    .picture-frame img,
    .picture-frame iframe {
        width: 200px;
        
        margin: 15px;
    }

#follow-us-frame {
    width: 390px;
    height: 60px;
    background: #FFF;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 50px;
    padding: 20px 30px 20px 30px;
}
    #follow-us-frame p {
        float: left;
        font-family: 'Open Sans', Helvetica, Arial;
        font-size: 18px;
        color: #009a9d;
    }
    #follow-us-frame span {
        float: left;
        margin-top: 12px;
        margin-left: 20px;
    }

.link-arrow {
    background: no-repeat image-url('arrow_icon.gif');
    padding-top: 6px;
    padding-left: 35px;
    height: 30px;
    float: left;
	margin-left: 48px;
}
    .link-arrow a {
        font-family: Helvetica, Arial;
        color: #00aaa6;   
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }


/** GENERAL **/
.request_listing span.head a, 
.user_listing span.head a, 
.body_listing span.head a {
    font-family: 'Open Sans', Helvetica, Arial;
    font-size: 16px;
    color: #009A9D;
}

a,
.request_listing a, 
.body_listing a, 
.user_listing a {
    color: #009A9D;
    /*text-decoration: none !important;*/
}
    a:hover,
    .request_listing a:hover, 
    .body_listing a:hover, 
    .user_listing a:hover 
    {
        /*text-decoration: underline !important;*/
        /*color:#FFFFFF;*/
    }

#header_left p,
#header_left ul,
#header_left ol {
    padding-right: 120px;
}

.request_left {
    width: 600px;
    padding-right: 0px;
}

.request_right {
    width: 240px;
}

form input[type="submit"], a.link_button_green, a.link_button_green_large {
    font-family: 'Open Sans', Helvetica, Arial;
    font-weight: 600;
    margin-right: 63px;
	margin-top: 5px;
	margin-left: 64px;
	padding: 10px 30px 10px 30px;
	background-image: linear-gradient(to bottom, #8CC63F,#6B9731);
	background-image: linear-gradient(to bottom, #8CC63F,#6B9731);
	line-height: 18px;
	border: solid 1px #69952F;
	text-shadow: 1px 1px 0 #5B841D;
	float: left;
	border-radius: 5px;
}
a.link_button_green :hover{
	background-image: linear-gradient(to bottom, #6B9731, #8CC63F);
}
#nav_search_button{
	float: left;
	text-shadow: none !important;
	border: medium none;
	height: 30px;
	width: 26px;
	background: url('//s.w.org/wp-includes/images/admin-bar-sprite.png?d=20120831') no-repeat scroll 100% 2px;
	border-radius: 0px;
	padding: 0px;
	top: -32px;
	margin-left:268px;
	position: relative;
	
}
.icon-search{
	content: "\f002";
  	font-family: FontAwesome;
}
#navigation_search_query{
	width: 280px;
	margin-left: 4px;
}
form input[type="submit"] {
    padding: 7px 23px;
}


/** SIGNUP **/
#sign_together .form_button {
    margin-left: 110px;
}

#signup .form_item_note, 
#signin .form_note,
#signin .form_checkbox {
    font-size: 0.9em;
    margin-left: 110px;
    width: 240px;
}

#sign_together input[type="text"],
#sign_together input[type="password"] {
    width: 220px;
}

#middle_strip {
    display: none;
}

#signin-successful {
    text-align: center;
}


/** PUBLIC BODIES LISTING **/
#public_body_index #left_column_flip h2,
#public_body_index #left_column_flip p {
    display: none;
}

#public_body_query {
    width: 360px;
}

/** REQUEST **/
p.subtitle {
    font-family: Verdana, Helvetica, Arial;
    font-size: 15px;
    color: #444444; /* XXX */
}

p.public-body-name-prefix {
    font-family: Verdana, Helvetica, Arial;
    font-size: 14px;
    margin-top: 22px;
    margin-bottom: -20px;
    color: #444444; /* XXX */
}

#stepwise_make_request {
    background: none;
    width: 480px;
    margin-bottom: 10px;

    font-family: Verdana, Helvetica, Arial;
    font-size: 16px;
    color: #444444; /* XXX */
}
    #stepwise_make_request strong {
        color: #009A9D;
    }

h2.foi_results {
    width: 480px;
    padding-bottom: 0px;
}

#foi_results_section,
.results_section {
    
    /*padding-left: 21.7%;*/
padding-right: 150px;
width: 760px;
}

.request_listing {
    margin-right: -210px;
}
    .request_left {
        width: 720px;
    }
    .request_right {
        width: 210px;
    }
    .request_listing span.desc {
        background: none;
    }

span.desc {
    float: left;
}

.date_added {
    display: none;
}

#request_header {
    background: none;
    width: 630px;
}
    #request_header_body h3,
    #request_header_body .form_item_note {
        display: none;
    }
    #request_header_body #request_header_text {
        font-size: 1em;
    }

.form_item_note {
    width: 510px;
}

#request_search_ahead_results {
    font-size: 1em;
    margin-left: 110px;
    margin-top: 10px;
}

#request_header input,
#request_form textarea {
    width: 500px;
}

#request_advice {
    margin-right: -30px;
}

#public_body_actions {
    display: none;
}

div.correspondence {
	width: 650px;
	background: none repeat scroll 0 0 #E2EBE1;
	font-family: Open Sans,Verdana, Helvetica, Arial;
	font-size: 15px !important;
	border: none;
	border-radius: 0px;
	box-shadow: 0px 0px 1px 0px #000;
}
div.correspondence h2 {
	color: #009899;
}
div.comment_in_request {
    width: 490px;
    font-size: 12px !important;
    background: #FBFBFB;
}

div.outgoing.correspondence {
    background: none repeat scroll 0 0 #DCDBDB;
	font-size: 15px !important;
	border: none;
	border-radius: 0px;
}

div[id|="outgoing"] p,
div[id|="incoming"] p {
    font-size: 1em;
}

#link_box {
    border: 1px solid #777;
    opacity: 1;
}

#link_box .close-button {
    background-color: #777;
}

#follow_count {
    color: #7BBB58;
}


/** REQUEST FILTER **/
#filter_requests_form {
    width: 660px;       /* Need some extra space for types of requests */
    margin-top: 15px;
}

#request_form label, 
label.form_label {
    color: #00AAA6;
    font-family: Helvetica,Arial;
    font-size: 14px;
    font-weight: bold;
}


/** REQUEST STATES 
TODO: Need to add states for
 - icon_info_not_held_and_referred
 - icon_partial_access
 - icon_referred
 - icon_request_acknowledged
 - icon_transferred
 - icon_unsatisfactory_response
**/
.icon_waiting_response {
    background-image: image-url("states/icon_waiting_response.gif");
    color: #009A9D;
font-size: 15px;
}
.icon_waiting_clarification {
    background-image: image-url("states/icon_waiting_clarification.gif");
    color: #79BB59;
font-size: 15px;
}
.icon_gone_postal {
    background-image: image-url("states/icon_gone_postal.gif");
    color: #009A9D;
font-size: 15px;
}
.icon_not_held {
    background-image: image-url("states/icon_info_not_held.gif");
    color: #F19100;
font-size: 15px;
}
.icon_rejected {
    background-image: image-url("states/icon_info_refused.gif");
    color: #E10613;
font-size: 15px;
}
.icon_successful {
    background-image: image-url("states/icon_successful.gif");
    color: #79BB59;
	font-size: 15px;
}
.icon_partially_successful {
    background-image: image-url("states/icon_partially_successful.gif");
    color: #F19100;
font-size: 15px;
}
.icon_internal_review {
    background-image: image-url("states/icon_review_requested.gif");
    color: #009A9D;
	font-size: 15px;
}
.icon_error_message {
    background-image: image-url("states/icon_error_message.gif");
    color: #858585;
	font-size: 15px;
}	
.icon_requires_admin {
    background-image: image-url("states/icon_requires_admin.gif");
    color: #858585;
font-size: 15px;
}
.icon_user_withdrawn {
    background-image: image-url("states/icon_user_withdrawn.gif");
    color: #E10613;
font-size: 15px;
}
/* TODO: Missing from designer
.icon_waiting_classification {
.icon_waiting_response_overdue {
.icon_waiting_response_very_overdue {
*/


/** MODAL SIGN-IN **/
#signin-successful,
#signin-successful a {
    font-family: Helvetica, Arial;
    color: #00aaa6;   
    font-size: 14px;
    font-weight: bold;
    padding-top: 50px;
} 

#sign_together h1 {
    margin-top: 10px;
}

#sign_together .errorExplanation {
    width: 360px;
    text-align: left;
}


/** USER PROFILE **/
#user_photo_on_profile {
    float: right;
    margin-top: 30px;
}

.undescribed_requests {
    padding: 19px 29px;
    width: 780px;
}

#user_profile_search {
    float: right;
    padding-left: 0px;
    padding-right: 150px;
    width: 480px;
}


/** FOOTER **/
#footer {
    height: 136px;
margin: 0 auto;
border-top-width: 0px;
background-color: #FFFFFF;
/*border-color: #cdcdcd;*/
width: 980px;
float: none;

}
#footer-detail{
	width: 960px;
	/*height:32px;*/
	margin: 0 auto;
	background-image: image-url("footer.png");
	float:left;

}
#footer-inner {
	width: 980px;
	margin: 0 auto;
	/*border-top: 1px solid;*/
	padding-top: 10px;
}

/*#access-info-logo {
    position: absolute;
    left: 0px;
    top: 10px;
}*/

#footer-links {
    margin-left: 80px;
    margin-top: 10px;
    float: left;

    font-family: 'Open Sans', Helvetica, Arial;
    font-size: 18px;
}
    #footer-links ul {
        list-style: none outside none;
    }
    #footer-links ul li {
        float: left;
        margin-right: 25px;
    }
    #footer-links ul a {
        text-decoration: none;
        color: #009a9d;
    }
    #footer-links ul a:hover {
        text-decoration: underline;
    }
    
#credits {
    	float: left;
	width: 300px;
	font-family: Verdana, Helvetica, Arial;
	font-size: 11px;
	text-align: justify;
	margin-top: 6px;
}
    #credits a {
        text-decoration: none;
        color: #00aaa6;
    }

#creative-commons-logo {
    /*position: absolute;
    right: 0px;
    top: 30px;*/
}

#fCaja1{
	width: 146px;
	float: left;
	text-align: left;
	font-size: 13px;
	margin-top: 10px;
}
#fCaja2{
	width: 110px;
	height: 138px;
	float:left;
	text-align: left;
	margin-top: -5px;
}
#fCaja2 img{
	margin-top: 28px;
}



#fCaja3{
	width: 170px;
	height: 135px;
	float:left;
	text-align: left;
	line-height: 12px;
	margin-top: 10px;
}
#fCaja4{
	width: 134px;
	height: 94px;
	float:left;
	text-align: left;
	font-size: 13px;
	border-left: 1px solid #DDD;
	margin-top: 16px;
	padding-left: 14px
}
#fCaja5{
	width: 102px;
	height: 135px;
	float: left;text-align: left;
}
#fCaja5 img{
	margin: 20px 0px;
}

.footer-fin{
	height: 32px;
	background-image: url('down_bar.png');
	margin-top: 24px;
}
/** FIN -------- --------- - FOOTER **/
#TopFollows{
	font-family: 'Open Sans';
	margin: 0px 12px;
	border-bottom: 1px solid #D9D9D9;
	padding-bottom: 12px;
	}
#TopFollows h1{
	color: #E94E00;
	text-decoration: none !important;
}
#TopFollows h1 a{
	color: #E94E00;
	text-decoration: none !important;
}
#frontpage-updates-requests {
    width: 260px;
    line-height: 1.1;
}
.tracking-links-frontpage {
	font-family: 'Open Sans', 'Helvetica Neue', Arial;
	margin: 4px -1px;	    
	/*border-bottom: 1px solid #D9D9D9;*/
	border-bottom: 16px solid #E2EBE1;
	padding-bottom: 28px;
	width: 242px;
	padding-left: 25px;
	padding-top: 1px;
}
    .tracking-links-frontpage h4 {
        font-weight: 600;
        font-size: 17px;
	width: 86%;
    }
    .tracking-links-frontpage.last {
        border-bottom: 0px;
    }

.request-tracker-frontpage {
    padding: 0px 12px 8px 12px;
    /*border: 2px solid #ECECEC;
    border-radius: 5px;*/
   /* margin-top: -10px;*/
}
    .request-tracker-frontpage .counter {
     float: left;
	width: 95px;
	height: 106px;
	font-weight: 700;
	font-size: 68px;
	color: #FFF;
	text-align: center;
	background: image-url('quest.png');
    }
    .request-tracker-frontpage .counter-label {
      float: left;
      width: 78px;
      font-weight: 600;
      font-size: 14px;
      color: #6F6F6E;
      line-height: 1.5;
	padding-top: 19px;
	padding-left: 8px;
    }



    .request-tracker-frontpage .track-button {
      float: left;
      font-weight: 700;
      font-size: 13px;
      color: #FFFFFF;
      background-color: #7CB955;
      padding: 8px 16px;
      border-radius: 5px;
      margin-left: 20px;
	margin-top: 20px;
	background: linear-gradient(to bottom , #8CC63F, #5D8F3B) repeat scroll 0% 0% transparent;
    }
    .request-tracker-frontpage .track-button a {
        color: #FFFFFF;
	
    }
.request-tracker-frontpage .track-button a:hover {
        color: #FFFFFF;
	text-decoration:none;
    }

.request-tracker-frontpage .track-button:hover {
	 background: linear-gradient(to bottom , #5d8f3b,#8CC63F) repeat scroll 0 0 transparent;	
        text-decoration:none;
}
    .request-tracker-sidebar .counter {
      float: left;
      width: 100px;
      font-weight: 700;
      font-size: 60px;
      color: #3C3C3B;
      text-align: right;
    }
    .request-tracker-sidebar .counter-label {
      float: left;
      width: 78px;
      font-weight: 600;
      font-size: 12px;
      color: #6F6F6E;
      line-height: 1.5;
      padding-top: 6px;
      padding-left: 6px;
    }
    .request-tracker-sidebar .track-button {
      float: left;
      font-weight: 700;
      font-size: 13px;
      color: #FFFFFF;
      /*background-color: #E84E00;*/
	background: linear-gradient(to bottom , #8CC63F, #5D8F3B) repeat scroll 0% 0% transparent;
      padding: 8px 16px;
      border-radius: 5px;
      margin-left: 0px;
    }
    .request-tracker-sidebar .track-button a {
        color: #FFFFFF;
    }

.feed_form_frontpage p,
.feed_form_sidebar p {
    line-height: 1.5;
}

.request-tracker-frontpage form.feed_form input[type="submit"],
.request-tracker-sidebar form.feed_form input[type="submit"] {
    font-family: Verdana, 'Helvetica Neue', Arial;
    font-weight: bold;
    font-size: 12px;
    padding: 7px 23px;
}
.counter{
	float: left;
	width: 95px;
	font-weight: 700;
	font-size: 60px;
	color: #FFF;
	text-align: center;
	background: image-url('quest.png');
	height: 106px;
	margin: 10px;
	padding-top: 7px;
}
.counter-label {
    float: left;
    width: 142px;
    font-weight: 600;
    font-size: 16px;
    color: #6F6F6E;
    line-height: 1.5;
    padding-top: 14px;
    padding-left: 6px;
	padding-bottom:15px;
}
/*ABOUT*/
#contentAbout{
	width:980px;
	margin:0 auto;
}

#titleAbout{
	background-color: #DEDD39;
	margin-top: 8px;
	color: #FFF;
	padding-left: 47.7%;
	font-size: 30px;
	line-height: 49px;
width: 1438px;
	margin-left: -458px;
}

#subtitleAbout{
	background-color: #000;
	color: #FFF;
	padding-left:47.7%;
	font-size: 16px;
	font-weight: 800;
	width: 1438px;
	margin-left: -458px;
}

#titleHow{
	background-color: #DEDD39;
	margin-top: -17px;
	color: #FFF;
	padding-left: 47.7%;
	font-size: 30px;
	line-height: 49px;
	width: 1438px;
	margin-left: -458px;
}
#subtitleNews{
	background-color: #000;
	color: #FFF;
	padding-left:47.7%;
	font-size: 16px;
	font-weight: 800;
	width: 1438px;
	margin-left: -458px;
	margin-top: 317px;
}
/*body.about {
        background: none;
    }
.about #wrapper, .about #content {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
*/
body.general {
        background: none;
    }
.general #wrapper{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.general #content {
padding: 0px;
margin: 40px auto;
width: 968px;
left: -7px;
}
.request_icon_line{
	min-height: 15px;
}
#follow_box{
	background-color: #E2EBE1;
	padding: 0px;
	box-shadow: 0px 0px 1px 0px #000;
	height: 264px;
	margin-bottom: 17px;
}
#follow_box .feed_link {
	text-align: center;
	margin-left: 25px;
}
#follow_box a{
	color: #FFF;
	margin-top: 15px;
}
#follow_box h2{
	color: #FFF;
	text-align: center;
	margin-top: -6px;
	margin-bottom: -11px;
	font-weight: 500;
	font-size: 28px;
	background: #009899;
	padding: 11px;
}

#right_column p{
	
}
#right_column h2{
	
}
#right_column {
	
	width: 278px;
	float: right;
	margin-top: 50px;
}
#left_column {
	width: 690px;
	float: left;
	margin-top: 27px;
}
#act{
	box-shadow: 0px 0px 1px 0px #000;
	background-color: #E2EBE1;
	margin-bottom: 17px;;
}

#act h2{
	background-color: #009899;
	background-image: none;
	clear: left;
	color: #FFF;
	display: block;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 28px;
	font-weight: 500;
	height: 28px;
	letter-spacing: normal;
	line-height: 28px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -6px;
	padding-bottom: 11px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 11px;
	text-align: center;
	width: 275px;
	
}
.icon_twitterBlack{
	background-image: image-url("twitterBlack.png");
	font-size: 18px;
}
.icon_down{
	background-image: image-url("down.png");
	font-size: 18px;
}
.icon_inline{
	background-repeat: no-repeat;
	background-position: left center;
	min-height: 24px;
	clear: left;
	padding: 13px 0 10px 53px;
	margin-left: 10px;
}
#offensive{
	box-shadow: 0px 0px 1px 0px #000;
	background-color: #E2EBE1;
	
}
#offensive h2{
	background-color: #009899;
	background-image: none;
	clear: left;
	color: #FFF;
	display: block;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 28px;
	font-weight: 500;
	height: 28px;
	letter-spacing: normal;
	line-height: 28px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -6px;
	padding-bottom: 11px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 11px;
	text-align: center;
	width: 275px;
}

#offensive p{
	padding-left:10px;
	padding-right:10px;
	font-size: 15px;
}
